@import "../../../../../styles/variable";
.uploadfile {
    display: flex;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    align-items: center;
    padding-top: computer(20px);
    position: relative;

    .add_name {
        font-size: computer(14px);
        color: #333;
        flex-shrink: 0;
    }

    .upload_btn {
        width: computer(80px);
        height: computer(30px);
        border-radius: 5px;
        flex-shrink: 0;
        overflow: hidden;
        cursor: pointer;
		position: absolute;
		right: computer(20px);
		top: computer(35px);
		z-index: 10;
        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 5px;
        }

        .btn_name {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;
			line-height: computer(30px);
            font-size: computer(14px);
            color: white;
            z-index: 1;
            border-radius: 5px;
        }
    }

    .upload_area {
        width: 0;
        min-width: 500px;
        height: 100%;
        margin-left: 20px;
        padding: 20px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: rgba(225, 225, 225, 0.6);
        font-size: 20px;
        text-align: center;
        border: 1px dashed rgba(225, 225, 225, 0.6);

        .icon-add {
            font-size: 60px;
            color: rgba(225, 225, 225, 0.6);
        }

        .tip {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    .upload_input {
        width: 0;
        height: 0;
        display: none;
    }
    .min_btn {
        width: 200px;
        height: 30px;
        line-height: 30px;
        background: #02ab83;
        font-size: 14px;
        text-align: center;
        position: absolute;
        bottom: -30px;
        left: 40%;
        z-index: 9;
        cursor: pointer;
        .upload_btn2 {
            font-size: 14px;
            margin-right: 10px;
        }
    }
}
