<div  tabindex="-1" role="dialog" :id="modalOptions.idName" aria-labelledby="rcDialogTitle0" class="ant-modal-wrap " v-if="show">
  <div  role="document" class="ant-modal" :style="{width:`${modalOptions.width}px`}" :class="modalOptions.position" v-if="show">
    <div  class="ant-modal-content" :class="modalOptions.className" >
      <button  aria-label="Close" class="ant-modal-close nodrag-area" @click="btnClose();"><span class="ant-modal-close-x"><i class="ant-modal-close-icon anticon anticon-close"><svg viewBox="64 64 896 896" data-icon="close" width="1em" height="1em" fill="currentColor" aria-hidden="true" class=""><path d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 0 0 203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"></path></svg></i></span></button>
      <div  class="ant-modal-header"  v-if="modalOptions.showTitle">
        <div  id="rcDialogTitle0" class="ant-modal-title">{{modalOptions.title}}</div>
      </div>
      <div  class="ant-modal-body nodrag-area" :class="modalOptions.className" :style="{maxHeight:modalOptions.height+'px'}">
          <component :is="modalOptions.componentName" :params="modalOptions.params"></component>
      </div>
      <div  class="ant-modal-footer" v-if="modalOptions.showFooter">
        <div >
          <button  type="button" class="ant-btn ant-btn-default" @click="btnClose();">
            <span>{{modalOptions.cleanText}}</span>
          </button>
              <button  type="button" class="ant-btn ant-btn-primary" v-if="modalOptions.showSave" @click="btnSave();"><span
              >{{modalOptions.saveText}}</span></button></div>
      </div>
      <div class="zpButton lw-tpk-pc" v-if="modalOptions.zpButton">
        <a-button type="danger"  v-if="modalOptions.showSave" @click="btnSave">{{modalOptions.saveText}}</a-button>
      </div>
    </div>
    <div  tabindex="0" style="width: 0px; height: 0px; overflow: hidden;">sentinel</div>
  </div>
</div>