<div class="middle_list  colleague_div">
    <div class="connect_search">
        <p class="input_group">
            <input type="text" class="input_class" placeholder="搜索" id="colleagueSearch" ng-model="colleague.keywords">
            <span class="connectIconfont icon-client_search" ng-show="!colleague.keywords || colleague.keywords ===''"></span>
            <span class="connectIconfont icon-close-circle" id="cleanAll" ng-click="colleague.cleanAll()" ng-show="colleague.keywords && colleague.keywords !==''"></span>
        </p>
    </div>
    <div class="search_result" id="colleague_nores">
        搜索无结果
    </div>
    <ul class="colleague_list overflow_box_sml">
        <colleague-tree></colleague-tree>
    </ul>

</div>
<div class="right_contcent colleague_detail" ng-show="(!colleague.keywords || colleague.keywords ==='') && colleague.detail">
    <div class="account_detail" ng-show="colleague.showType && colleague.showType!='group'">
        <div class="name_box">
            <span>
                    <img ng-if="colleague.detail.imgUrl" ng-src="{{colleague.filePath + colleague.detail.imgUrl}}" alt="">
                </span>
            <p class="name">{{colleague.detail.displayName}}</p>
            <p class="work">{{colleague.detail.position}}</p>
        </div>
        <div class="more_detail overflow_box_sml">
            <p>
                <span class="name">职务</span>
                <span class="name_detail">
                       {{colleague.detail.position}}
                   </span>
            </p>
            <p>
                <span class="name">办公室电话</span>
                <span class="name_detail">
                       {{colleague.detail.telephone}}
                   </span>
            </p>
            <p>
                <span class="name">内部电话</span>
                <span class="name_detail">
                       {{colleague.detail.interPhone}}
                   </span>
            </p>
            <p>
                <span class="name">手机</span>
                <span class="name_detail">
                       {{colleague.detail.cellphone}}
                   </span>
            </p>
            <p>
                <span class="name">电子邮箱</span>
                <span class="name_detail">
                       {{colleague.detail.email}}
                   </span>
            </p>
            <p>
                <span class="name">微信</span>
                <span class="name_detail">
                       {{colleague.detail.wechat}}
                   </span>
            </p>
            <p>
                <span class="name">QQ</span>
                <span class="name_detail">
                       {{colleague.detail.qq}}
                   </span>
            </p>
            <p>
                <span class="name">部门</span>
                <span class="name_detail name_department">
                       <em class="name_detail_department toDepartment" ng-repeat="parent in colleague.detail.parentsArr">
                           {{parent.name}}
                           <i class="toDepartmentId" style="display:none;">{{parent.id}}</i>
                       </em>
                   </span>
            </p>
        </div>
        <!-- <span class="btn_blue" ng-click="colleague.msg()">发消息</span> -->
    </div>
    <div class="group_detail" ng-show="colleague.showType=='group'">
        <p class="parent_name">{{colleague.detail.parentsName}}</p>
        <h2 class="name">{{colleague.detail.name}}</h2>
        <p class="number">共 {{colleague.detail.num}} 人</p>
        <!-- <span class="btn_blue" ng-class="{'disabled' : colleague.detail.num<1}" ng-click="colleague.msg(colleague.detail.num)">发起群聊</span> -->
    </div>
</div>
<div class="right_contcent colleague_detail" ng-show="colleague.keywords && colleague.keywords !=='' && colleague.result_detail">
    <div class="account_detail" ng-show="colleague.showType && colleague.showType!='group'">
        <div class="name_box">
            <span>
                    <img ng-if="colleague.detail.imgUrl" ng-src="{{colleague.filePath + colleague.detail.imgUrl}}" alt="">
                </span>
            <p class="name">{{colleague.result_detail.displayName}}</p>
            <p class="work">{{colleague.result_detail.position}}</p>
        </div>
        <div class="more_detail  overflow_box_sml">
            <p>
                <span class="name">职务</span>
                <span class="name_detail">
                       {{colleague.result_detail.position}}
                   </span>
            </p>
            <p>
                <span class="name">办公室电话</span>
                <span class="name_detail">
                       {{colleague.result_detail.telephone}}
                   </span>
            </p>
            <p>
                <span class="name">内部电话</span>
                <span class="name_detail">
                       {{colleague.result_detail.interPhone}}
                   </span>
            </p>
            <p>
                <span class="name">手机</span>
                <span class="name_detail">
                       {{colleague.result_detail.cellphone}}
                   </span>
            </p>
            <p>
                <span class="name">电子邮箱</span>
                <span class="name_detail">
                       {{colleague.result_detail.email}}
                   </span>
            </p>
            <p>
                <span class="name">微信</span>
                <span class="name_detail">
                       {{colleague.result_detail.wechat}}
                   </span>
            </p>
            <p>
                <span class="name">QQ</span>
                <span class="name_detail">
                       {{colleague.result_detail.qq}}
                   </span>
            </p>
            <p>
                <span class="name">部门</span>
                <span class="name_detail  name_department">
                       <em class="name_detail_department toDepartment" ng-repeat="parent in colleague.result_detail.parentsArr">
                           {{parent.name}}
                           <i class="toDepartmentId" style="display:none;">{{parent.id}}</i>
                       </em>
                   </span>
            </p>
        </div>
        <!-- <span class="btn_blue" ng-click="colleague.msg()">发消息</span> -->
    </div>
    <div class="group_detail" ng-show="colleague.showType=='group'">
        <p class="parent_name">{{colleague.result_detail.parentsName}}</p>
        <h2 class="name">{{colleague.result_detail.name}}</h2>
        <p class="number">共 {{colleague.result_detail.num}} 人</p>
        <!-- <span class="btn_blue" ng-class="{'disabled' : colleague.result_detail.num<1}" ng-click="colleague.msg(colleague.result_detail.num)">发起群聊</span> -->
    </div>
</div>