<div class="modal-header vacation">
  <!--<button type="button" class="close" ng-click="cancel()">-->
  <span class="Close fr" ng-click="cancel()">×</span><span class="sr-only">Close</span>
  <!--</button>-->
  <h2>{{gardenName}} <span class="fontWeight">放假管理</span></h2>
</div>
<div class="modal-body body-update" id="modal-body">

  <section class="clearfix" style="margin-bottom:10px;">
    <select class="btn-list fl" ng-model="condition.organizationId" ng-options="grade.id as grade.name for grade in ogrades"
      ng-click="getList()">
      <option value="">请选择</option>
    </select>

    <div class="part fl">
      <input type="text" class="btn-list" style="margin-left:12px;" placeholder="搜索" ng-model="condition.keywords">
      <i class="search-logo" ng-click="getList()"></i>
    </div>
    
  </section>
  <form class="w5c-form">
      <section class="clearfix form-group">
        <input type="text" class="btn-list fl" placeholder="假期名称" ng-model="holiday.name" required>
        <input type="text" class="btn-list fl" placeholder="假期对象" required ng-focus="vacationObj=1" style="margin-left: 12px"
          ng-model="organizationNames">
  
        <div ng-show="vacationObj" class="vacationObj">
          <div class="title-search">
            <input type="text" class="btn-list btn-list2" ng-model="keywords" ng-keydown="search()">
            <i class="timer"></i>
          </div>
          <div class="select-course">
            <input class="checkboxClass" type="checkbox" name="teacher" ng-model="checkAllBox" ng-click="all($event)">
            <label>全选</label>
          </div>
          <div class="class-list">
            <p ng-repeat="grade in ogrades" ng-class="{'cur':operatOrganizationIds.indexOf(grade.id)>-1}" ng-show="!keywords || keywords==''||grade.name.indexOf(keywords)>=0">
              <span ng-click="addOrganizationId(grade.id,grade.name)">{{grade.name}} </span>
              <span ng-click="deleteOrganizationId(grade.id,grade.name)" class="fr delete-con" ng-class="{'delete-logo':operatOrganizationIds.indexOf(grade.id)>-1}">×</span></p>
          </div>
          <div class="sure-back">
            <button class="btn tpk-btn btn-add" ng-click="ok()">确定</button>
            <!--<button class="btn btn-add delet" style="margin-left:60px;" ng-click="close()">取消</button>-->
          </div>
        </div>
  
  
  
  
        <div class="part fl">
          <input lw-laydate='yyyy-MM-dd HH:mm:ss' type="text" id="layId1" class="btn-list" placeholder="假期开始时间" style="margin-left: 28px"
            ng-model="holiday.startTime">
          <!--<input lw-laydate='yyyy-MM-dd HH:mm:ss' type="text" id="layId1" class="btn-list" placeholder="假期开始时间"
                         style="margin-left: 28px" ng-model="holiday.startTime" ng-click="getNow()" min-date="{{now}}"
                         required
                         max-date="{{holiday.endTime}}">-->
          <i class="timer"></i>
        </div>
        <div class="part fl">
          <input lw-laydate='yyyy-MM-dd HH:mm:ss' type="text" id="layId2" class="btn-list" placeholder="假期结束时间" required
            style="margin-left: 12px" ng-model="holiday.endTime">
          <i class="timer"></i>
        </div>
        <select class="isFect" ng-model="holiday.status">
          <option value="">有效</option>
          <option value="0">无效</option>
        </select>
        <button class="btn tpk-btn btn-add fr add" type="submit" ng-click="save()">添加</button>
      </section>
    </form>

  <section style="margin-bottom:10px">
      <button class="btn tpk-btn-delete delt" ng-click="batchDelete()"> 删 除</button>
  </section>
  <section class="vacation-list">
    <table class="table">
      <thead>
        <tr class="active">
          <td>
            <input type="checkbox" class="checkboxClass" ng-click="checkAllBox($event)" ng-model="checkAll">序号
          </td>
          <td>名称</td>
          <td>作用对象</td>
          <td>时间段</td>
          <td>更新人</td>
          <td>更新时间</td>
          <td>有效性</td>
          <td>操作</td>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr ng-repeat="data in datas">

          <td>
            <input type="checkbox" class="checkboxClass" ng-click="check($event,data.id)" ng-checked="data.checked">{{$index+1}}
          </td>
          <td>
            <div class="text-over" title="{{data.name}}">
              <input type="text" ng-disabled="!isEdit[$index]" ng-class="{true:'editname'}[!isEdit[$index]]" value="{{data.name}}"
                ng-model="data.name" class="limit-width">
            </div>
          </td>


          <div ng-show="vacationObj2" class="vacationObj vacationObj-2">
            <div class="title-search">
              <input type="text" class="btn-list btn-list2" ng-model="keywords" ng-keydown="search()">
              <i class="timer"></i>
            </div>
            <div class="select-course">
              <input class="checkboxClass" type="checkbox" name="teacher" ng-click="allByEdit($event)" ng-model="checkAllboxEdit">
              <label>全选</label>
            </div>
            <div class="class-list">
              <p ng-repeat="grade in ogrades" ng-class="{'cur':tempData.indexOf(grade.id)>-1}" ng-show="!keywords || keywords==''||grade.name.indexOf(keywords)>=0">
                <span ng-click="addOrganizationIdByEdit(grade.id,grade.name)">{{grade.name}} </span>
                <span ng-click="deleteOrganizationIdByEdit(grade.id,grade.name)" ng-class="{'delete-logo':tempData.indexOf(grade.id)>-1}"
                  class="fr delete-con">×</span></p>
            </div>
            <div class="sure-back">
              <button class="btn tpk-btn btn-add" ng-click="ok2()">确定</button>
              <!--<button class="btn btn-add delet" style="margin-left:60px;" ng-click="close()">取消</button>-->
            </div>
          </div>



          <td>
            <div class="text-over" title="{{data.organizationNames}}">
              <input type="text" ng-disabled="!isEdit[$index]" ng-class="{true:'editname'}[!isEdit[$index]]" class="limit-width"
                value="{{data.organizationNames}}" ng-click="editName($index)" ng-model="data.organizationNames">
            </div>
          </td>
          <td class="time-list clearfix" style="padding:0">
            <div class="fl" ng-class="{true:'fontSmall'}[isEdit[$index]]">
              <!--<input type="text" ng-disabled="!isEdit[$index]" ng-class="{true:'editname'}[!isEdit[$index]]" value="{{data.startTime|date:'yyyy/MM/dd'}}">-->
              <input lw-laydate='yyyy-MM-dd HH:mm:ss' type="text" ng-disabled="!isEdit[$index]" id='layDate{{$index}}'
                ng-class="{true:'editname'}[!isEdit[$index]]" ng-model="datas[$index].startTime">
              <!--max-date="{{datas[$index].endTime}}"-->
              <span ng-class="{true:'span'}[isEdit[$index]]"></span>
              <span class="Cover" ng-class="{true:'cover'}[!isEdit[$index]]"></span>
            </div>
            <i class="fl curve">~</i>

            <div class="fl" ng-class="{true:'fontSmall'}[isEdit[$index]]">
              <!--<input type="text" ng-disabled="!isEdit[$index]" ng-class="{true:'editname'}[!isEdit[$index]]" value="{{data.endTime|date:'yyyy/MM/dd'}}">-->
              <input lw-laydate='yyyy-MM-dd HH:mm:ss' type="text" ng-disabled="!isEdit[$index]" id='layDate{{$index+6}}'
                ng-class="{true:'editname'}[!isEdit[$index]]" ng-model="datas[$index].endTime">
              <!--min-date="{{datas[$index].startTime}}"-->
              <span ng-class="{true:'span'}[isEdit[$index]]"></span>
              <span class="Cover" ng-class="{true:'cover'}[!isEdit[$index]]"></span>
            </div>
          </td>
          <td>{{data.lastUpdatorName}}</td>
          <td>{{data.lastUpdateTime|date:'yyyy/MM/dd HH:mm:ss'}}</td>
          <td>
            <div class="inblk va-middle">
              <input type="checkbox" id="{{data.id+'_checked'}}" class="cbx hidden" ng-checked="data.status" ng-model="data.status"
                ng-click="changeStatus(data.id)">
              <label for="{{data.id+'_checked'}}" class="lbl"></label>
            </div>
          </td>
          <td>
            <div class="tpk-icon-border last-td">
              <i class='tpk-ico tpk-edit' ng-class="{true:'save'}[isEdit[$index]]" ng-click="edit($index,data)"></i>
              <i class="tpk-ico tpk-delete" ng-click="delete(data.id)"></i>
              <!--<i class="tpk-ico tpk-detail" ></i>-->
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <lw-page url="/holiday/page" garden-id="{{gardenId}}" size="5" style="bottom:22px;"></lw-page>
</div>

<!--<div class="modal-footer">-->

<!--</div>-->