.mng-header {
  height: 60px;
  background: url('/assets/img/mng_bg.png');
  background-repeat: no-repeat;
  .bar-logo{
      height: 100%;
      width: 261px;
      background: url('/assets/img/bar_logo.png') no-repeat 20px center;
  }
}
