/*1.外层盒子*/
.purchase .purchaseDraft {
    margin: 0 auto;
    width: 100%;
    min-width: 1200px;
}

/*2.已填写的表格*/
.purchase .inputed_table {
    line-height: 40px;
    border-bottom: 1px solid #dbe3ee;
    margin: 20px 0;
}

.purchase .inputed_table_span {
    display: inline-block;
    border: 1px solid #dbe3ee;
    border-bottom: none;
    padding: 0 10px;
    cursor: pointer;
    width: 130px;
    text-align: center;
    margin-right: 10px;
    height: 42px;
    line-height: 42px;
}

.purchase div.html-compile p {
    text-align: left;
}

.purchase .inputed_table_span.active, .purchase .inputed_table_span:hover {
    background: #0096FF;
    color: #fff;
    border: 1px solid #dbe3ee;
    border-bottom: none;
}

.purchase .inputed_table_span.active {
    cursor: default;
}

.purchase .inputed_table_span.active > span {
    color: #fff;
}

.purchase .inputed_table_span:first-child:hover {
    background: #0096FF;
    color: #FFF;
}

.purchase .inputed_table_span:first-child:hover .add_table_icon {
    color: #fff;
}

.purchase .inputed_table_span:hover .close_table_icon {
    display: inline-block;
    opacity: .5;
}

.purchase .add_table_icon {
    color: #0096FF;
    margin-right: 10px;
    font-size: 20px;
    vertical-align: middle;
}

.purchase .close_table_icon {
    color: #fff;
    font-size: 14px;
    display: none;
    margin-left: 10px;
}

.purchase .close_table_icon:hover {
    opacity: 1 !important;
}

/*3.采购方式*/
.purchase .purchase_func {
    margin-bottom: 20px;
    font-size: 16px;
}

.purchase .purchaseDraft .select_class.select_w235 {
    width: 235px;
}

.purchase .purchaseDraft .select_class.select_w160 {
    width: 160px;
}

/*4.分级标题*/
.purchase .file_preview_tit {
    font-size: 16px;
    padding-left: 10px;
    height: 24px;
    line-height: 24px;
    background-image: linear-gradient(-180deg, #786cec 100%, #ffffff 0%);
    background-image: -webkit-linear-gradient(-180deg, #786cec 100%, #ffffff 0%);
    background-size: 4px 100%;
    background-position: left top;
    background-repeat: no-repeat;
    margin: 20px 0;
}

/*5.申请时间和编号,使用单位名称等*/
.purchase .name_time {
    margin: 20px 0;
}

.purchase .name_time_left {
    margin-bottom: 10px;
}

.purchase .name_time_right {
    float: right;
    margin-right: 50px;
    position: relative;
}

.purchase .name_time_data {
    top: -3px;
    margin-right: 20px;
    position: relative;
}

.purchase .name_time_contacts {
    margin-right: -10px;
}

/*6表格*/
.purchase .addTable_box {
    margin-top: 12px;
    width: 100%;
    position: relative;
}

.purchase .addTable_box .line_strip {
    position: absolute;
    top: -4px;
    left: 0;
    right: 0;
    height: 4px;
    background-image: linear-gradient(-180deg, rgb(120, 108, 236) 50%, rgb(0, 150, 255) 50%);
    background-image: -webkit-linear-gradient(left, #786cec 20%, #3c76f6 20%, #008aff 20%, #0096ff 20%, #017eff 20%);
    background-size: 100% 4px;
    background-position: top right;
    background-repeat: no-repeat;
}

.purchase .itemTable {
    width: 100%;
    font-size: 14px;
    color: #333;
    font-family: "simsun" !important;
    margin-top: -1px;
    table-layout: fixed;
}

.purchase .itemTable td {
    padding: 5px 10px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #999;
    position: relative;
    vertical-align: middle;
    word-break: break-all;
    word-wrap: break-word;
}

.purchase span.spanText {
    position: relative;
    z-index: 2;
}

.purchase .productOrder-table td {
    text-align: center;
}

.purchase .noBorderTable tr td:first-child {
    border-left: 0;
}

.purchase .noBorderTable tr td:last-child {
    border-right: 0;
}

.purchase .noBorderTable tr:nth-child(odd) {
    background: #F8F8F8;
}

.purchase .noBorderTable td {
    border: 1px solid #dbe3ee;
}

.purchase .allTable td {
    border: 1px solid #dbe3ee;
}

.purchase .allTable tr td:first-child {
    border-left: 0;
}

.purchase .allTable tr td:last-child {
    border-right: 0;
}

.purchase .nomalTable {
    width: calc(100% - 275px);
    float: right;
    margin-left: 275px;
    margin-right: 110px;
    margin-top: 20px;
}

.purchase .nomalTable td {
    border: 1px solid #dbe3ee;
}

.purchase .nomalTable tr:first-child td {
    background: #F8F8F8;
}

/*前面有文字的输入框*/
.purchase .padding_240 {
    padding-left: 240px;
}

.purchase .padding_140 {
    padding-left: 140px;
}

.purchase .padding_120 {
    padding-left: 120px;
}

.purchase .padding_80 {
    padding-left: 80px;
}

.purchase .padding_65 {
    padding-left: 65px;
}

.purchase .padding_50 {
    padding-left: 50px;
}

/*宽度调整*/
.purchase .itemTable .w50 {
    /*width: 50% !important;*/
    display: inline-block;
}

.purchase .itemTable .w40 {
    display: inline-block;
    width: 40% !important;
}

.purchase .itemTable .w30 {
    display: inline-block;
    width: 20% !important;
}

.purchase .width60 {
    width: 60px;
    display: inline-block;
}

.purchase .width160 {
    width: 160px !important;
    text-align: right;
    margin-right: 10px;
}

.purchase .width170 {
    width: 170px !important;
    text-align: right;
    margin-right: 10px;
}

.purchase .width250 {
    width: 250px !important;
    text-align: right;
}

.purchase .width_160 {
    width: 160px !important;
}

.purchase .width200 {
    width: 200px;
    text-align: right;
    margin-right: 10px;
}

.purchase .width165 {
    width: 165px;
}

.purchase .width275 {
    width: 275px;
}

.purchase .width300 {
    width: 300px;
    text-align: right;
    margin-right: 10px;
}

.purchase .width400 {
    width: 400px;
}

.purchase .width600 {
    width: 600px;
}

.purchase .width870 {
    width: 870px;
    margin: 0 auto;
}

/*高度调整*/
.purchase .itemTable .tab_height90 {
    height: 90px;
}

.purchase .itemTable .tab_height150 {
    height: 170px;
}

.purchase .itemTable .textarea_h70 {
    display: inline-block;
    height: 70px;
    width: 100%;
    border: 0;
    padding-left: 10px;
}

/*内边距调整*/
.purchase .maleft10 {
    margin-left: 10px !important;
}

.purchase .pad-left-170 {
    padding-left: 170px;
}

.purchase .pad-top-bottom10 {
    padding: 10px 0;
}

/*外边距调整*/
.purchase .margin-bottom10 {
    margin-bottom: 10px;
}

.purchase .margin-right {
    margin-right: 50px;
}

.purchase .margin-top-bottom {
    margin: 20px 0;
}

.purchase .margin-top20 {
    margin-top: 20px;
}

/*文字调整,居中加粗等*/
.purchase .text_center {
    text-align: center;
}

.purchase .text-bold {
    font-weight: bold;
}

.purchase .text-right {
    text-align: right;
}

.purchase .color-green {
    color: #00bb8b;
}

.purchase .color-blue {
    color: #0096FF;
}

.purchase .color-yellow {
    color: #ffb900;
}

/*输入框,文本框,下拉框*/
.purchase .itemTable .area_auto {
    position: inherit;
    border: 1px solid #dbe3ee;
}

.purchase .itemTable .area_before_text {
    width: calc(100% - 72px);
    vertical-align: top;
}

.purchase .itemTable .input_class, .purchase .itemTable textarea {
    border: 0;
    margin: 0 !important;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0;
    background-color: #fff;
}

.purchase .itemTable textarea {
    width: 100%;
    height: 100%;
    color: #0096ff;
    text-shadow: 0px 0px 0px #333333;
    -webkit-text-fill-color: transparent;
    padding: 5px 10px;
}

.purchase .input_date {
    border: none;
}

.purchase .input_date_border {
    border: 1px solid #dbe3ee;
    padding: 3px 5px;
    height: 30px;
}

.purchase .purchaseDraft .select_class {
    width: 80px;
}

.purchase .table-input-date {
    position: relative;
}

.purchase .input-box {
    width: 600px;
    height: 30px;
    position: relative;
    font-size: 14px;
}

.purchase .text-money {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
}

/*表格中位置调整*/
.purchase .itemTable .tab_top {
    position: absolute;
    top: 20px;
    left: 20px;
}

.purchase .itemTable .tab_bottom {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.purchase .itemTable .tab_bottom_little {
    float: right;
    margin-right: 10px;
}

.purchase .text-position-top {
    position: absolute;
    width: 100%;
    top: 10px;
}

.purchase .text-position-bottom {
    position: absolute;
    width: 100%;
    bottom: 10px;
}

.purchase .text-position-bottom .tab_bottom {
    position: absolute;
    right: 30px;
    bottom: 0;
}

/*图标*/
.purchase .col0096ff {
    color: #786cec;
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 20px;
}

.purchase .input-icon {
    position: absolute;
    right: 70px;
    top: 11px;
    color: #786cec;
}

.purchase .data-icon {
    position: absolute;
    right: 6px;
    top: -1px;
    font-size: 20px;
    color: #786cec;
}

.purchase .table-date-icon {
    position: absolute;
    right: 6px;
    font-size: 20px;
    color: #786cec;
}

.purchase .long-input-icon {
    position: absolute;
    right: 10px;
    font-size: 20px;
    color: #786cec;
    top: -3px;
}

/*校验input 父级框变红*/
.purchase .itemTable .error, .purchase .itemTable td input.error, .itemTable td textarea.error {
    box-shadow: none;
    border: 1px solid #ff272e !important;
}

.purchase .itemTable tr .tdVerify {
    outline: 1px solid #ff272e;
}

/*下载导入按钮*/
.purchase .down_import {
    position: absolute;
    right: 10px;
    top: 4px;
}

.purchase .download {
    border: 0;
    margin-left: 10px;
    color: #0096ff;
    cursor: pointer;
}

/*提示信息*/
.purchase .popup_title {
    position: absolute;
    right: 250px;
    color: #999999;
}

.purchase .msgInfo {
    font-size: 12px;
    color: #999999;
}

/*7.文件预览*/
.purchase .file_preview {
    margin-top: 10px;
}

.purchase .file_preview_con {
    margin: 0 auto;
    position: relative;
}

.purchase .file_preview_con p {
    text-align: right;
    width: 100%;
    padding-bottom: 4px;
}

.purchase .file_preview_con .file_preview_list {
    overflow-y: auto;
    overflow-x: hidden;
}

/*8.提交表单*/
.purchase .submit-form {
    overflow: hidden;
    padding: 20px 0;
}

/*9.审核*/
.purchase .reDraft_content2 {
    width: 870px;
    margin: 20px auto 0;
}

.purchase .reDraft_list .width160 {
    width: 25.5% !important;
}

.purchase .reDraft_list {
    padding: 8px 0;
    font-size: 0;
    overflow: inherit;
    position: relative;
}

.purchase .word_center {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-size: 14px;
}

.purchase .get_method.select_class {
    width: 350px;
}

/*10.按钮*/
.purchase .reDraft_btn {
    margin: 30px 0;
    text-align: center;
}

/*11.已填写的表格下面的虚线*/
.purchase .table_dashed {
    border-bottom: 1px dashed #dbe3ee;
    margin-top: 20px;
}

/*12.一级标题*/
.purchase .draft_title {
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}

.purchase .draft_title .draft_detail {
    border-bottom: 1px solid #dbe3ee;
}

.purchase .draft_title .draft_detail_second {
    font-weight: bold;
    margin-bottom: 20px;
}

.purchase .color-purple {
    color: #786cec;
}

.purchase .notable_title {
    position: relative;
    line-height: 50px;
}

.purchase .draft_detail_noBorder {
    border: 0;
    margin-top: 10px;
}

/*13.上传*/
.purchase .itemTable .add_img_td {
    text-align: left;
    padding-left: 10px;
    height: 160px;
}

.purchase .itemTable .add_img_td .percent {
    width: 20%;
    margin: 35% 10px 0;
}

.purchase .itemTable .add_img_td .process {
    width: 100%;
    height: 22px;
    padding: 0px 10px;
}

.purchase .itemTable .add_img_td .process .bg_purple {
    width: 0%;
    height: 100%;
    display: block;
    background-color: #756aea;
}

/*节点uploadAcceptanceMaterial.form*/
.purchase #externalForm .w5c-form .reDraft_list.w200_upload {
    margin-left: 0;
}

.bdp .purchase .reDraft_list.w200_upload .attach_upload .w250.word_center {
    width: 200px;
}

.bdp .purchase .reDraft_list.w200_upload .attach_upload .add_img_box {
    width: calc(100% - 201px);
}

.purchase #externalForm .w5c-form .reDraft_list.w27_upload {
    margin-left: 0;
}

.bdp .purchase .reDraft_list.w27_upload .attach_upload .lf_name.w250.word_center {
    width: 26.5%
}

.bdp .purchase .reDraft_list.w27_upload .attach_upload .add_img_box {
    width: calc(100% - 26.5%);
}

/*节点uploadAcceptanceMaterial*/
.purchase #externalForm #uploadAcceptanceMaterial .w5c-form .reDraft_list {
    margin-left: 0;
}

.bdp .purchase .reDraft_list.wp_90 .attach_upload .lf_name.w250.word_center {
    width: 29.5%
}

/*dev_upload_list*/
.bdp .purchase .dev_upload_list .attach_upload .w250.word_center {
    width: 30% !important;
}

.bdp .purchase .dev_upload_list .attach_upload .add_img_box {
    width: calc(100% - 30%) !important;
    margin-left: 0;
}

.bdp .purchase .reDraft_list.wp_90 .attach_upload .add_img_box {
    width: calc(100% - 29.5%);
}

/*弹窗中表格*/
.purchase .review .purchaseDraft {
    min-width: 1200px;
}

.purchase .review .purchaseDraft .addTable_box {
    margin-top: 12px;
    width: 100%;
    position: inherit;
}

.purchase .review .purchaseDraft .addTable_box .line_strip {
    position: inherit;
    top: -4px;
    left: 0;
    right: 0;
    height: 4px;
    background-image: linear-gradient(-180deg, rgb(120, 108, 236) 50%, rgb(0, 150, 255) 50%);
    background-image: -webkit-linear-gradient(left, #786cec 20%, #3c76f6 20%, #008aff 20%, #0096ff 20%, #017eff 20%);
    background-size: 100% 4px;
    background-position: top right;
    background-repeat: no-repeat;
}

.purchase .repaDisposal_flow {
    min-width: 1200px;
}