<div class="image-text">
	<!-- <ul class="list">
		<li class="list-li" flex="cross:center">
			<div class="img-box">
				<img src="./assets/images/img_text1.png" alt="">
			</div>
			<div class="info">
				<p class="name">张三</p>
				<p class="content">
					站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒站内撒
				</p>
				<p class="date">2018-07-26</p>
			</div>
		</li>
	</ul>
	<div class="pagination" *ngIf="page.total > 10">
		<nz-pagination [nzPageIndex]="1" [nzTotal]="page.total"
					   (nzPageIndexChange)="initPage($event)"
					   [nzPageSize]="page.size"></nz-pagination>
	</div> -->
	<app-detail-title></app-detail-title>
</div>