<div class="shool-infor">
	<div class="rightaa">
		<div class="shadow-cover">
			<h2>牛一实小课程特色</h2>
			<div class="p">
				牛栏山一中实验学校位于顺义区新城核心区域，2008年奥林匹克水上公园西侧，
				占地380余亩，建筑总面积9万余平方米，有教学楼、实验楼、公寓楼、餐饮
				中心和标准的400米塑胶田径运动场。
				<div class="look" (click)="redirectTo()">实时听课</div>
			</div>

		</div>
	</div>
	<div class="leftaa" (click)="showModal()">
		<em class="icon"></em>
		<div class="bg-img">

		</div>
	</div>
	<nz-modal [(nzVisible)]="isVisible" nzTitle="牛一实小课程特色" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
		<app-video></app-video>
	</nz-modal>
</div>