@import "../../../../../styles/variable";
@import "../../../../../styles/mixin";
.scale-select{
	height: computer(352px);
	.scale-select-content{
		height: calc(100% - #{computer(50px)});
		.width-100{
			width: computer(100px);
		}
		.width-300{
			width: computer(300px);
		}
		.width-200{
			width: computer(200px);
		}
		.scale-select-input{
			height: computer(30px);
			margin: computer(10px) computer(20px);
		}
		.text-center{
			text-align: center !important;
		}
		.scale-select-table{
			table{
				border-collapse:collapse;
				width: 600px;
				overflow-x: hidden !important;
				th,td{
					padding-left:computer(20px);
					height: computer(40px);
					line-height: computer(40px);
					text-align: left;
					//border: 1px solid $color_border;
				}
			}
			height: calc(100% - #{computer(42px)});
			.table {
				@include scroll-bar();
				height: calc(100% - #{computer(50px)});
				overflow-y: auto;
				overflow-x: hidden !important;
				tr{
					cursor: pointer;
					&:hover{
						background-color: $color_border;
					}
					&.active{
						color: $color_main;
					}
				}
			}
		}
	}
	.footer{
		text-align: center;
		//border-top: 1px solid $color_border;
		padding: computer(10px) 0;
		position: relative;
		line-height: computer(30px);
		background-color: #fff;
		.close{
			margin-right: computer(20px);
		}
	}
	.input-group {
		width: computer(240px);
		height: computer(30px);
		border: 0;
		//padding-left: computer(5px);
		//margin-left: computer(20px);
		position: relative;
		display: inline-block;
		float: left;
		input {
			border: 1px solid $color_border;
			outline: 0;
			width: 100%;
			height: computer(28px);
			list-style: none;
			padding-right: computer(30px);
			padding-left: computer(11px);
			font-size: computer(12px);
			&:focus {
				outline: none;
				border: 1px solid #00a0e9;
				-webkit-box-shadow: 0 0 10px #9ecaed;
				box-shadow: 0 0 10px #9ecaed;
			}
			&:hover{
				border:1px solid #00a0e9;
			}
		}
		.anticon-search {
			font-size: 16px;
			top: 50%;
			color: $color_font-light;
		}
		.iconfont:before{
			font-size: computer(15px);
		}
		.ant-input-suffix {
			height: 100%;
			width: computer(30px);
			cursor: pointer;
			position: absolute;
			color: $color_font-light;
			top: 50%;
			right: 0;
			font-size: computer(15px);
			margin-top: computer(-15px);
		}
	}
}