@import "../../../../../styles/variable";

::ng-deep {
	.dialog-image {
		width: 100%;
		height: 100%;
		.diolog_title {
			.title {
				text-align: center;
				font-size: computer(14px);
				color: #fff;
			}
			.closeBtn:hover {
				color: #fff;
			}
		}
		.word_detail {
			height: 100%;
			width: 100%;
			background: transparent !important;
			position: relative;
			p-carousel {
				height: 100%;
				width: 100%;
			}
		}
		.next:before, .prev:before {
			font-size: computer(70px);
		}
		.next, .prev {
			position: absolute;
			background: transparent;
			font-size: computer(70px);
			color: #fff;
			border: 0;
			margin-top: -10px;
			cursor: pointer;
		}
		.next:focus, .prev:focus {
			outline: none;
		}
		.next:hover, .prev:hover {
			color: #00a0e9;
		}
		.img-disable, .img-disable:hover {
			color: #999 !important;
		}
		.next {
			right: 20px;
			top: 50%;
		}
		.prev {
			left: 20px;
			top: 50%;
		}
		.msg {
			color: #fff;
			margin-top: computer(10px);
			font-size: computer(26px);
		}
	}

	.dialog-image-fullScreen {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, .6);
		z-index: 100;
	}

	.diolog_title {
		height: computer(40px);
		overflow: hidden;
		background: #0e1a3b;
		line-height: computer(40px);
		padding: 0 0 0 computer(20px);
		position: relative;
	}
	.closeBtn {
		position: absolute;
		right: 0;
		top: 0;
		font-size: computer(24px);
		padding: 2px 10px;
		border: 0;
		cursor: pointer;
		color: #8590a1;
		background: transparent;
		&:hover {
			color: #aebace;
		}
		&:before {
			font-size: computer(24px);
		}
	}
}
