// 学科颜色
.chinese {
	// background-image: linear-gradient(0deg,
	// 	#fab743 0%,
	// 	#e98b3f 100%),
	// linear-gradient(
	// 	#00a0e9,
	// 	#00a0e9);
	// background-blend-mode: normal,
	// 	normal;
	border-radius: 12px;
	background: url('/assets/images/subjects/chinese.png') no-repeat center center;
	background-size: cover;
}

.math {
	// background-image: linear-gradient(0deg,
	// #00d3ec 0%,
	// #00a0e9 100%),
	// linear-gradient(
	// 	#00a0e9,
	// 	#00a0e9);
	// background-blend-mode: normal,
	// 	normal;
	border-radius: 12px;
	background: url('/assets/images/subjects/math.png') no-repeat center center;
	background-size: cover;
}

.history {
	// background-image: linear-gradient(0deg,
	// 	#43dafa 0%,
	// 	#45e0c8 100%),
	// linear-gradient(
	// 	#00a0e9,
	// 	#00a0e9);
	// background-blend-mode: normal,
	// 	normal;
	border-radius: 12px;
	background: url('/assets/images/subjects/history.png') no-repeat center center;
	background-size: cover;
}

.political {
	// background-image: linear-gradient(0deg,
	// 	#fcba5c 0%,
	// 	#f26262 100%),
	// linear-gradient(
	// 	#00a0e9,
	// 	#00a0e9);
	// background-blend-mode: normal,
	// 	normal;
	border-radius: 12px;
	background: url('/assets/images/subjects/political.png') no-repeat center center;
	background-size: cover;
}

.music {
	// background-image: linear-gradient(0deg,
	// 	#62bdf7 0%,
	// 	#e66fff 100%),
	// linear-gradient(
	// 	#00a0e9,
	// 	#00a0e9);
	// background-blend-mode: normal,
	// 	normal;
	border-radius: 12px;
	background: url('/assets/images/subjects/music.png') no-repeat center center;
	background-size: cover;
}

.chemistry {
    // background-image: linear-gradient(0deg,
	// 	#c58dfe 0%,
	// 	#835af7 100%),
	// linear-gradient(
	// 	#00a0e9,
	// 	#00a0e9);
	// background-blend-mode: normal,
	// 	normal;
	border-radius: 12px;
	background: url('/assets/images/subjects/chemistry.png') no-repeat center center;
	background-size: cover;
}

.english {
    // background-image: linear-gradient(0deg,
	// 	#4ac3ff 0%,
	// 	#a062ff 100%),
	// linear-gradient(
	// 	#00a0e9,
	// 	#00a0e9);
	// background-blend-mode: normal,
	// 	normal;
	border-radius: 12px;
	background: url('/assets/images/subjects/english.png') no-repeat center center;
	background-size: cover;
}

.geography {
    // background-image: linear-gradient(0deg,
    // #57ddff 0%,
    // #4da8ff 100%),
    // linear-gradient(
    //     #00a0e9,
    //     #00a0e9);
    // background-blend-mode: normal,
    //     normal;
	border-radius: 12px;
	background: url('/assets/images/subjects/geography.png') no-repeat center center;
	background-size: cover;
}

.biology {
    // background-image: linear-gradient(0deg,
	// 	#32def3 0%,
	// 	#2ad73e 100%),
	// linear-gradient(
	// 	#00a0e9,
	// 	#00a0e9);
	// background-blend-mode: normal,
	// 	normal;
	border-radius: 12px;
	background: url('/assets/images/subjects/biology.png') no-repeat center center;
	background-size: cover;
}

.art {
    // background-image: linear-gradient(0deg,
	// 	#32def3 0%,
	// 	#2ad73e 100%),
	// linear-gradient(
	// 	#00a0e9,
	// 	#00a0e9);
	// background-blend-mode: normal,
	// 	normal;
	border-radius: 12px;
	background: url('/assets/images/subjects/art.png') no-repeat center center;
	background-size: cover;
}

.physics {
    // background-image: linear-gradient(0deg,
	// 	#94a2ff 0%,
	// 	#05c8c6 100%),
	// linear-gradient(
	// 	#00a0e9,
	// 	#00a0e9);
	// background-blend-mode: normal,
	// 	normal;
	border-radius: 12px;
	background: url('/assets/images/subjects/physics.png') no-repeat center center;
	background-size: cover;
}

.message {
    // background-image: linear-gradient(0deg,
	// 	#ffa3cd 0%,
	// 	#d27bff 100%),
	// linear-gradient(
	// 	#00a0e9,
	// 	#00a0e9);
	// background-blend-mode: normal,
	// 	normal;
	border-radius: 12px;
	background: url('/assets/images/subjects/message.png') no-repeat center center;
	background-size: cover;
}

.plant {
    // background-image: linear-gradient(0deg,
	// 	#a5f9a0 0%,
	// 	#1bd487 100%),
	// linear-gradient(
	// 	#00a0e9,
	// 	#00a0e9);
	// background-blend-mode: normal,
	// 	normal;
	border-radius: 12px;
	background: url('/assets/images/subjects/plant.png') no-repeat center center;
	background-size: cover;
}

.calligraphy {
    // background-image: linear-gradient(0deg,
	// 	#a6cbf7 0%,
	// 	#68b5ff 100%),
	// linear-gradient(
	// 	#00a0e9,
	// 	#00a0e9);
	// background-blend-mode: normal,
	// 	normal;
	border-radius: 12px;
	background: url('/assets/images/subjects/calligraphy.png') no-repeat center center;
	background-size: cover;
}

.weiqi {
    // background-image: linear-gradient(0deg,
	// 	#b1a8fb 0%,
	// 	#29e3b5 100%),
	// linear-gradient(
	// 	#00a0e9,
	// 	#00a0e9);
	// background-blend-mode: normal,
	// 	normal;
	border-radius: 12px;
	background: url('/assets/images/subjects/weiqi.png') no-repeat center center;
	background-size: cover;
}

.sport {
    // background-image: linear-gradient(0deg,
	// 	#d4adf8 0%,
	// 	#25d3ff 100%),
	// linear-gradient(
	// 	#00a0e9,
	// 	#00a0e9);
	// background-blend-mode: normal,
	// 	normal;
	border-radius: 12px;
	background: url('/assets/images/subjects/sport.png') no-repeat center center;
	background-size: cover;
}

.other {
    // background-image: linear-gradient(0deg,
	// 	#fd95a2 0%,
	// 	#378bf3 100%),
	// linear-gradient(
	// 	#00a0e9,
	// 	#00a0e9);
	// background-blend-mode: normal,
	// 	normal;
	border-radius: 12px;
	background: url('/assets/images/subjects/other.png') no-repeat center center;
	background-size: cover;
}




.selfStudy {
	background-image: linear-gradient(
		#febb5c,
		#febb5c),
	linear-gradient(0deg,
		#00a0e9 0%,
		#00d3ec 100%),
	linear-gradient(
		#fcece7,
		#fcece7);
	border-radius: 6px;
}

.learn {
	background-image: linear-gradient(
		#00a0e9,
		#00a0e9),
	linear-gradient(0deg,
		#00a0e9 0%,
		#00d3ec 100%),
	linear-gradient(
		#fcece7,
		#fcece7);
	border-radius: 6px;
}