@-webkit-keyframes ngdialog-fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes ngdialog-fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes ngdialog-fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes ngdialog-fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.lw-bdp.ngdialog *,
.lw-bdp.ngdialog *:before,
.lw-bdp.ngdialog *:after {
    box-sizing: inherit;
}

.lw-bdp.ngdialog {
    box-sizing: border-box;
    position: fixed;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.lw-bdp.ngdialog.ngdialog-disabled-animation,
.lw-bdp.ngdialog.ngdialog-disabled-animation .ngdialog-overlay,
.lw-bdp.ngdialog.ngdialog-disabled-animation .ngdialog-content {
    -webkit-animation: none!important;
    animation: none!important;
}

.lw-bdp .ngdialog-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: ngdialog-flyin 0.5s;
    animation: ngdialog-flyin 0.5s;
}

.lw-bdp.ngdialog-no-overlay {
    pointer-events: none;
}

.lw-bdp.ngdialog.ngdialog-closing .ngdialog-overlay {
    -webkit-backface-visibility: hidden;
    -webkit-animation: ngdialog-flyout 0.5s;
    animation: ngdialog-flyout 0.5s;
}

.lw-bdp.ngdialog-content {
    background: white;
    -webkit-backface-visibility: hidden;
    -webkit-animation: ngdialog-flyin 0.5s;
    animation: ngdialog-flyin 0.5s;
    pointer-events: all;
}

.lw-bdp.ngdialog.ngdialog-closing .ngdialog-content {
    -webkit-backface-visibility: hidden;
    -webkit-animation: ngdialog-flyout 0.5s;
    animation: ngdialog-flyout 0.5s;
}

.lw-bdp.ngdialog-close:before {
    font-family: 'Helvetica', Arial, sans-serif;
    content: '\00D7';
    cursor: pointer;
}

html.ngdialog-open,
body.ngdialog-open {
    overflow: hidden;
}
@-webkit-keyframes ngdialog-flyin {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes ngdialog-flyin {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes ngdialog-flyout {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
    }
}

@keyframes ngdialog-flyout {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
    }
}

.ngdialog.lw-bdp.ngdialog-closing .ngdialog-content {
    -webkit-animation: ngdialog-flyout .5s;
    animation: ngdialog-flyout .5s;
}

.ngdialog.lw-bdp {
    padding-bottom: 160px;
    padding-top: 160px;
}

.ngdialog.lw-bdp .ngdialog-content {
    -webkit-animation: ngdialog-flyin .5s;
    animation: ngdialog-flyin .5s;
    background: #fff;
    border-radius: 5px;
    color: #444;
    font-family: 'Helvetica',sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    width: 900px;
    height: 600px;
    box-shadow: 0px 5px 16px #aaa;
}

.ngdialog.lw-bdp .ngdialog-close {
    border-radius: 5px;
    cursor: pointer;
    height: 39px;
    position: absolute;
    right: 0;
    top: 0;
    border:0;
    outline:0;
    z-index: 101;
    background-color: #fff;
    color: #bbb;
    z-index:10000;
}

.ngdialog.lw-bdp .ngdialog-close:hover{
    color: #786cec !important;
}
/*.ngdialog.lw-bdp .ngdialog-close:hover .ngdialog.lw-bdp .ngdialog-close:before{*/
    /*color: #786cec !important;*/
/*}*/

.ngdialog.lw-bdp .ngdialog-close:before {
    font-family:"iconfont" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: transparent;
    font-size: 16px;
    border-radius: 3px;
    /*color: #bbb;*/
    content: '\E726';
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    margin-right: 20px;
}

.ngdialog.lw-bdp .ngdialog-content {
    animation: ngdialog-flyin .5s;
    background: #fff;
    border-radius: 5px;
    color: #444;
    font-family: 'Helvetica',sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    width: 900px;
    height: 600px;
    box-shadow: 0px 5px 16px #aaa;
}

.ngdialog.lw-bdp .dialog-header{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid #f8f8f8;
    line-height: 40px;
    font-size: 16px;
    z-index: 100;
    background: #fff;
    position: relative;
    z-index: 9999;
}
.ngdialog.lw-bdp .dialog-close{
    float: right;
    width: 40px;
    margin-right: 5px;
}

.lw-select-garden .multiple-select .sure-wrap .lw-font{
    font-family:"personIconfont" !important;
    font-size:20px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}