.bdp .main_in,.bdp .setApproverHgh {
    min-width: 1050px;
    position: relative;
    /*overflow: hidden;*/
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.bdp .draff_title {
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid #dbe3ee;
}

/* 搜索 */

.bdp .search_box {
    margin-top: 20px;
    padding: 0 20px;
}

.bdp .more_search {
    color: #0096ff;
    margin-left: 10px;
    display: inline-block;
    padding: 5px 0;
}

.bdp .more_search:focus {
    outline: none;
}

.bdp .search_result {
    padding: 6px 0;
    border-bottom: 1px solid #dbe3ee;
    line-height: 24px;
}

.bdp .search_result > span {
    margin-right: 10px
}

.bdp .search_result .icon-error {
    color: rgba(120, 108, 236, .5);
    cursor: pointer;
    vertical-align: middle;
}

.bdp .search_box .checkboxs {
    overflow: hidden;
    margin-top: 6px;
}

.bdp .total_num {
    margin-top: 16px;
    height: 35px;
    line-height: 33px;
    padding: 0 30px 0 20px;
    margin-bottom: 16px;
}

.bdp .total_num .num {
    color: #0096ff;
}

.bdp .table_box {
    /*margin-top: 4px;*/
    width: 100%;
    position: relative;
}

.bdp .line_strip {
    height: 4px;
    background-image: linear-gradient(-180deg, rgb(120, 108, 236) 50%, rgb(0, 150, 255) 50%);
    background-image: -webkit-linear-gradient(left, #786cec 20%, #3c76f6 20%, #008aff 20%, #0096ff 20%, #017eff 20%);
    background-size: 100% 4px;
    background-position: top right;
    background-repeat: no-repeat;
    width: 100%;
}

.bdp .table_box .line_strip2 {
    position: absolute;
    top: -4px;
    left: 0;
    right: 0;
    height: 4px;
    background-image: linear-gradient(-180deg, rgb(120, 108, 236) 50%, rgb(0, 150, 255) 50%);
    background-image: -webkit-linear-gradient(left, #786cec 20%, #3c76f6 20%, #008aff 20%, #0096ff 20%, #017eff 20%);
    background-size: 100% 4px;
    background-position: top right;
    background-repeat: no-repeat;
}

.bdp .table_box .listTable {
    width: 100%;
}

.bdp .table_box .listTable thead th {
    background: #f8f8f8;
    height: 40px;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    border: 1px solid #dbe3ee;
    border-top: 0;
    text-align: center;
}

.bdp .table_box .listTable thead th:first-child {
    border-left: 0;
}

.bdp .table_box .listTable thead th:last-child {
    border-right: 0;
}

.bdp .table_box .listTable tr td {
    font-size: 14px;
    color: #333333;
    padding: 5px 10px;
    height: 50px;
    border: 1px solid #dbe3ee;
    max-width: 100px;
    text-align: center;
    line-height: 22px;
    word-break: break-all;
}
.bdp .table_box .listTable tr:first-child td{
    border-top: 0 !important;
}
.bdp .table_box .listTable tr td:first-child {
    border-left: 0;
}

.bdp .table_box .listTable tr td:last-child {
    border-right: 0;
}

.bdp .table_box .listTable tbody tr:hover {
    background-color: #dbe3ee !important;
}

.bdp .table_box .table-hover tbody tr:hover {
    cursor: pointer;
}

.bdp .table_box .listTable tr:nth-child(2n) {
    background-color: #f8f8f8;
}

.bdp .table_box .red_color {
    color: #ff272e !important;
}

.bdp .table_box .green_color {
    color: #00bb8b !important;
}

.bdp .modal-dialog .addConfig {
    width: 800px;
    height: 600px;
    position: relative;
}

.bdp .modal-dialog .addConfig_tit {
    font-size: 16px;
    padding: 0 10px 0 20px;
    text-align: center;
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #dae4ee;
}

.bdp .modal-dialog .addConfig_tit .del_btn {
    display: inline-block;
    padding: 0px 15px;
    height: 36px;
    cursor: pointer;
    float: right;
}

.bdp .modal-dialog .addConfig_form {
    width: 610px;
    margin: 40px auto;
}

.bdp .modal-dialog .form_list {
    font-size: 0;
    margin-bottom: 10px;
}

.bdp .modal-dialog .form_tit, .form_list .input_class {
    display: inline-block;
    vertical-align: middle;
}

.bdp .modal-dialog .form_tit {
    width: 86px;
    text-align: right;
    font-size: 14px;
    margin-right: 10px;
}

.bdp .form_list .input_class {
    font-size: 14px;
    padding: 0 10px;
    width: 490px;
}

.bdp .form_list .textarea_class {
    padding: 5px 10px;
    font-size: 14px;
    width: 490px;
    height: 160px;
    border: 1px solid #dae4ee;
}

.bdp .modal-dialog .btn_poab {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.bdp .btn_poab .btn_bd {
    margin-right: 10px;
}

.bdp .form_list input::-webkit-input-placeholder, .form_list textarea::-webkit-input-placeholder {
    color: #999;
}

.bdp .form_list input::-moz-placeholder, .form_list textarea::-moz-placeholder {
    color: #999;
}

.bdp .form_list input::-ms-placeholder, .form_list textarea::-ms-placeholder {
    color: #999;
}

.bdp .modal-dialog.modal-w800 {
    width: 800px;
}

/* 下拉列表 */

.bdp .analog-pull-down .multiple-select .drop-down-wrap li {
    line-height: 22px;
    padding: 3px 8px;
    height: auto;
    width: 100%;
    text-overflow: inherit;
    overflow: initial;
    white-space: normal;
}

.bdp .search_box .lw-select-person .checkbox-class + span {
    width: 100%;
    margin-left: -25px;
    padding-left: 25px;
    /*overflow: hidden;*/
    white-space: normal;
    text-overflow: initial;
    display: inline;
    vertical-align: top;
    font-size: 14px;
}

.bdp .search_box .lw-select-person li:hover {
    background: #dbe3ee;
    cursor: pointer;
}

/* 表格出现滚动条 */

.bdp .table_absolute {
    /*position: absolute;
    left: 0;
    right: 0;
    top: 120px;
    bottom: 0;*/
    overflow-y: auto;
    padding: 0 20px;
    padding-bottom: 100px;
}

.bdp .table_absolute::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}

.bdp .table_absolute::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
}

.bdp .table_absolute::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}

.bdp .box_pad20 {
    padding: 0 20px;
}

.bdp .poab_top137 {
    top: 164px;
}

.bdp .line_pad {
    padding: 14px 20px 0;
    position: relative;
    z-index: 2;
}

/* input新样式 */

.bdp .content_textBar {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    border: 1px solid #dbe3ee;
    width: 240px;
    height: 30px;
    line-height: 30px;
    padding: 0 6px 0 10px;
    margin-right: 10px;
}

.bdp .content_textBar:hover {
    border-color: #0096ff;
}

.bdp .content_textBar input {
    border: 0;
    width: 90%;
    padding: 0;
    margin: 0;
    height: 100%;
    vertical-align: top;
}

.bdp .content_textBar .icon-search {
    color: #999;
    position: absolute;
}

.bdp .content_textBar .icon-error {
    color: rgba(120, 108, 236, .5);
    cursor: pointer;
    vertical-align: middle;
    float: right;
}

.bdp .content_textBar .icon-error:hover {
    color: rgba(120, 108, 236, 1);
}

/* 选择园区 */

.bdp .select_depart {
    padding: 20px 0;
}

.bdp .select_depart_list .setting_icon {
    font-size: 20px;
    color: #786cec;
    padding: 0 8px 0 0px;
    cursor: pointer;
}

.bdp .select_depart_list span {
    display: inline-block;
    vertical-align: middle;
}

.bdp .select_depart_list .fos16 {
    font-size: 16px;
}

.bdp .select_depart_list2.disabled {
    opacity: .2;
}

.bdp .select_depart_list2 {
    margin-top: 7px;
    font-size: 14px;
    margin-left: 138px;
}

.bdp .draft-title {
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #dae4ee;
    font-size: 16px;
}

.bdp .btn_process {
    margin-right: 10px;
}

.bdp a:focus, .bdp a:hover {
    outline: none;
}

* {
    word-break: break-word;
}
.bdp .disabled:disabled{
    background: #fff;
    opacity: .2;
    cursor: not-allowed;
}

.bdp .selectWid400{
    width: 400px !important;
}

.overflow_box_small {
    overflow: auto;
}

.overflow_box_small::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}

.overflow_box_small::-webkit-scrollbar {
    width: 8px;
    height: 10px;
    background-color: #ffffff;
}

.overflow_box_small::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}