@import "../../../styles/variable";
.elliptical-page {
    margin-top: computer(100px);
    img {
        width: computer(240px);
    }
    div {
        color: $color_font-light;
        //margin-top: computer(15px);
        text-align: center;
        font-size: computer(15px);
    }
}