<div class="linkContent">
    <div class="search_box">
        <p>
            <input type="text" class="input_class" ng-model="link.listKeywords" ng-change="link.searchList('scene')">
            <span class="connectIconfont icon-close-circle" ng-click="link.cleanAll('scene')" ng-show="link.listKeywords && link.listKeywords!==''"></span>
            <span class="connectIconfont icon-client_search" ng-show="!link.listKeywords || link.listKeywords===''"></span>
        </p>
    </div>
    <div class="no_data" ng-show="link.sceneList && link.sceneList.length<1 && !link.listKeywords">
        暂无数据
    </div>
    <div class="search_no_result" ng-show="link.sceneList && link.sceneList.length<1 && link.listKeywords && link.listKeywords!==''">
        搜索无结果
    </div>
    <div class="link_module_list overflow_box_sml">
        <dl ng-repeat="item in link.sceneList" ng-right-click="link.rightClick(item.categoryId,item.onTop)" ng-class="{'top':item.onTop , 'right':item.categoryId === link.selectedId}" ng-click="link.enterModule(item,item.connectDetailUrl)">
            <dt>
                <img ng-src="{{link.filePath+item.ico}}" alt="">
            </dt>
            <dd>
                <p class="name ell">{{item.categoryName}}</p>
                <p class="garden ell">{{item.gardenName}}</p>
            </dd>
        </dl>
        <div class="operation" id="operation_box" ng-show="link.showMask">
            <p ng-show="!link.selectedTop" ng-click="link.toTop(true)">置顶</p>
            <p ng-show="link.selectedTop" ng-click="link.toTop(false)">取消置顶</p>
            <p class="cancelLink" ng-click="link.cancelLink()">取消连接</p>
        </div>
    </div>
    <div class="bottom_posa" ng-click="link.showSearch()">
        <span class="connectIconfont icon-add"></span>
    </div>
</div>