<form class="w5c-form class-config" w5c-form novalidate w5c-form-validate name="classCfg">
    <div class="modal-header" style="padding-top:40px;">
        <div class="text-main">
            <h4 class="modal-title" id="modal-title">配置班级信息</h4>
        </div>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="text-main">
            <!--班级行政教室-->
            <section class="form-group administration">
                <label class="className form-item">班级行政教室：</label>
                <input type="text" class="form-control teacher" name="className" readonly ng-click="showClassroom()" style="width: 89%" placeholder="请输入班级行政教室…" ng-model="data.classRoomName">
                <div class="teacher-box class-box fr" ng-show="classroomBar">
                    <header class="h5" style="text-align: center;">
                        班级行政教室选择
                        <input type="text" class="form-control pull-right" placeholder="请输入关键字……" ng-model="classroomName">
                    </header>
                    <div class="row" style="margin:0;padding:0;left:0;top:43px;height:211px;">
                        <ul>
                            <li ng-repeat="classroom in classrooms" ng-show="searchCs(classroom.name)" style="line-height:29px;cursor: pointer;">
                                <label style="cursor: pointer;">
                                    <input class="radioClass" type="checkbox" name="classroom" ng-checked="data.classRoomId===classroom.id" ng-click="selectClassroom($event,classroom)">{{classroom.name}}
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="footer">
                        <div class="navbar-inner navbar-content-center page" style="height:58px;line-height:58px;">
                            <button class="btn btn-md tpk-btn sure" ng-click="sureClassroom()">确 定</button>
                        </div>
                    </div>
                </div>
            </section>
            <!--班主任-->
            <section class="form-group">
                <label class="teacherName form-item">班主任：</label>
                <input type="text" class="form-control teacher" name="teacherName" readonly ng-click="showTeacher()" style="width: 89%" placeholder="请输入班主任的姓名…" ng-model="data.teacherName">
                <div class="teacher-box fr" ng-show="teacherBar">
                    <header class="h5" style="text-align: center">
                        班主任选择
                        <input type="text" class="form-control pull-right" placeholder="请输入关键字……" ng-model="teacherName">
                    </header>
                    <div class="row" style="margin:0;padding:0;left:0;top:43px;height:211px;">
                        <ul>
                            <li ng-repeat="teacher in teachers" ng-show="searchRs(teacher.name)" style="cursor: pointer;">
                                <label style="cursor: pointer;">
                                    <input class="checkboxClass" type="checkbox" name="teacher" ng-disabled="!teacher.status" ng-checked="data.teacherIds.indexOf(teacher.id)>-1" ng-click="selectTeacher($event,teacher)">{{teacher.name}}
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="footer">
                        <div class="navbar-inner navbar-content-center page" style="height:58px;line-height:58px;">
                            <button class="btn btn-md tpk-btn sure" ng-click="sureTeacher()">确 定</button>
                        </div>
                    </div>
                </div>
            </section>
            <!--选择摄像头-->
            <section class="form-group class-content" style="height: 392px">
                <div class="row">
                    <h5 style="display:inline-block;width:33%">对应的功能区：</h5>
                    <h5 style="display:inline-block;">对应的摄像头：</h5>
                </div>
                <div class="pull-left">
                    <area-ztree></area-ztree>
                </div>
                <div class="pull-right" style="position: relative">

                    <div class="checked-camera">
                        <p>已选摄像头</p>
                        <ul id="ullist">
                            <li ng-repeat="data in selectedCameras" class="cur liList">
                                <div>
                                    <span ng-if="data.cameraType == 0 && data.cameraLocation == 1">【前】</span>
                                    <span ng-if="data.cameraType == 0 && data.cameraLocation == 2">【后】</span>
                                    <span ng-if="data.cameraType == 1 && data.cameraLocation">【电脑画面】</span>
                                    <span ng-if="!data.isDefault" style="max-width: 185px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap" title="{{data.name}}">{{data.name}}</span>
                                    <span ng-if="data.isDefault && data.cameraType !== 1 || !data.cameraLocation" class="mainVoiceTextHid" title="{{data.name}}">{{data.name}}</span>
                                    <span ng-if="data.isDefault && data.cameraType == 1 && data.cameraLocation" class="mainVoiceTextHid" style="width:80px" title="{{data.name}}">{{data.name}}</span>
                                    <span ng-if="data.isDefault">(主音频摄像头)</span>
                                </div>
                                <span ng-click="del($index,data)" class=" delt delhide">×</span>
                                <span ng-click="selectMainVoice($index,data)" class=" mainVoice mainVoiceHide"></span>
                            </li>
                        </ul>
                    </div>

                    <div class="form-group clearfix" style="padding-top:5px;position: relative">
                        <select ng-model="selectCameraType" ng-change="changeCameraList()">
                            <option ng-repeat="type in cameraTypes" ng-value="type.id">{{type.value}}</option>
                        </select>
                        <input class="form-control" type="text" style="width: 40%;display: inline-block;height: 25px;margin-left: 15px" ng-model="searchName" placeholder="搜索">
                        <i class="glyphicon glyphicon-search" id="searchCamera" style="right: 116px"></i>
                    </div>
                    <div class="column-1">
                        <ul id="column">
                            <li ng-repeat="data in cameras" ng-class="{'cur':selectedCameraIds.indexOf(data.id)>-1}" ng-show="searchCamera(data.name)" title="{{data.url}}">
                                <div ng-click="selectedCamera($index,data)" style="display: inline-block">
                                    <span ng-if="data.cameraType == 0 && data.cameraLocation == 1">【前】</span>
                                    <span ng-if="data.cameraType == 0 && data.cameraLocation == 2">【后】</span>
                                    <span ng-if="data.cameraType == 1 && data.cameraLocation">【电脑画面】</span> {{data.name}}
                                </div>
                            </li>

                        </ul>
                    </div>

                </div>
            </section>
        </div>

    </div>
    <div class="modal-footer techername-foot">
        <button class="btn tpk-btn" type="button" ng-click="ok()">确 定</button>
        <button class="btn tpk-btn-o" type="button" ng-click="cancel()">取 消</button>
    </div>
</form>