@import "../../../../../styles/variable";
@import "../../../../../styles/mixin";
.prepare-info ::ng-deep {
    width: 100%;
    height: 100%;
    .btn-disable {
        cursor: not-allowed;
        opacity: 0.5;
    }
    // .isHaveContent{
    // 	elliptical-page{
    // 		div{
    // 			float: left;
    // 			margin: 0 !important;
    // 			height: computer(30px);
    // 			line-height: computer(30px);
    // 		}
    // 	}
    // }
    .download {
        width: computer(108px);
        height: computer(30px);
        font-size: computer(16px);
        margin: 0 computer(10px);
        color: #fff;
        cursor: pointer;
        background: rgba(34, 108, 251, 0.5);
        position: absolute;
        z-index: 999;
        right: 0;
        &:hover {
            background: $color_main;
        }
    }
    .name {
        font-size: computer(14px);
    }
    .content {
        margin-top: computer(15px);
        .exercises-content {
            margin-top: computer(10px);
        }
        .sub-title {
            border-left: 2px solid $color_main;
            color: $color_main;
            font-size: computer(16px);
            height: computer(30px);
            padding-left: computer(24px);
            margin-right: computer(38px);
            min-width: computer(100px);
        }
    }
}

.prepare-info::ng-deep {
    nz-header {
        background: #fff;
        height: computer(50px);
        line-height: computer(50px);
        border-bottom: 1px solid $color_border;
        // padding: 0 20px;
        padding: 0;
        margin: 0 computer(20px);
        .header {
            height: computer(50px);
            line-height: computer(50px);
            position: relative;
            nz-breadcrumb {
                position: absolute;
                z-index: 999;
            }
            .title {
                text-align: center;
                position: absolute;
                z-index: 998;
                top: 0;
                left: 0;
                width: 100%;
                height: computer(50px);
                line-height: computer(50px);
                font-size: computer(16px);
                color: $color_font-center;
            }
        }
    }
    .ant-layout-content {
        @include scroll-bar();
        overflow: auto;
        padding: 0 computer(20px) computer(30px);
    }
    nz-content {
        .tool {
            // padding: computer(20px) 0;
        }
        .input-class {
            height: computer(30px);
            border-radius: 3px;
            padding: 0 computer(8px);
            border: solid 1px #dddddd;
            width: computer(500px);
        }
        .error {
            color: red;
            font-size: computer(14px);
            margin-left: computer(10px);
        }
        .input-error {
            border: 1px solid red;
        }
        .header-content {
            // background-color: #f8f8f8;
            padding: computer(20px) computer(20px) 0;
            border: solid 1px $color_border;
            height: auto;
            display: inline-block;
            width: 100%;
            .span-maohao {
                margin: 0 computer(10px);
            }
            .text-group {
                font-size: computer(14px);
                color: $color_font-deep;
                margin-bottom: computer(20px);
                min-height: computer(30px);
                line-height: computer(30px);
                display: inline-block;
                width: 100%;
                height: auto;
                .check-title {
                    color: $color_font-light;
                    font-size: computer(14px);
                    display: inline-block;
                    margin-left: computer(20px);
                }
            }
            .select-tag {
                padding: 0 computer(10px) 0 computer(20px);
                margin-bottom: computer(10px);
                font-size: computer(14px);
                border-radius: computer(15px);
                height: computer(30px);
                line-height: computer(30px);
                text-align: center;
                background-color: $color_border;
                color: $color_font-deep;
                margin-right: computer(10px);
                cursor: default;
                //float: left;
                display: inline-block;
                .icon-span {
                    cursor: pointer;
                    font-size: computer(12px) !important;
                    margin-left: computer(10px);
                    color: #333333;
                    &:hover {
                        color: $color_main;
                    }
                    .iconfont:before {
                        font-size: computer(12px) !important;
                    }
                }
            }
        }
        // .details{
        // 	padding-top: computer(10px);
        // }
        .content {
            max-width: 100%;
            .left {
                width: computer(120px);
                border-right: 1px solid $color_border;
                padding: computer(10px) 0;
                box-sizing: border-box;
                float: left;
                ul li {
                    height: computer(30px);
                    line-height: computer(30px);
                    font-size: computer(16px);
                    color: $color_font-center;
                    margin-bottom: computer(25px);
                    text-align: center;
                    cursor: pointer;
                    border-left: 2px solid #fff;
                }
                .active {
                    color: $color_main !important;
                    border-left: 2px solid $color_main !important;
                }
            }
            .right {
                width: calc(100% - #{computer(120px)});
                // float: left;
                max-width: 100%;
                // .auto-scroll{
                // }
                .right-content {
                    height: 100%;
                    width: 100%;
                }
                .li-0,
                .li-1,
                .li-3 {
                    padding-right: computer(20px);
                }
                .li-1,
                .li-2 {
                    padding-left: computer(20px);
                    .designStatus-div {
                        padding-right: computer(20px);
                    }
                    .auto-scroll {
                        padding-right: computer(20px);
                    }
                    .col-blue {
                        font-size: computer(14px);
                    }
                    .content-header {
                        font-size: computer(14px);
                        height: computer(30px);
                        line-height: computer(30px);
                        .select-exercises {
                            color: $color_main;
                            margin-left: computer(20px);
                        }
                    }
                    .label-checkbox {
                        margin-right: computer(15px);
                    }
                    .label-checkbox-title {
                        padding: 0;
                    }
                    // 全选
                    // .check-box {
                    //     letter-spacing: 0;
                    //     display: flex;
                    //     justify-content: space-between;
                    //     align-items: center;
                    //     margin-bottom: computer(18px);
                    //     label {
                    //         width: auto;
                    //     }
                    //     .all-check {
                    //         margin: 0 computer(10px);
                    //         font-size: computer(14px);
                    //     }
                    //     .nz-button {
                    //         float: right;
                    //         &:disabled {
                    //             opacity: 0.5;
                    //             color: #fd8158;
                    //             border-color: #fe997b;
                    //             background: #fff;
                    //         }
                    //     }
                    // }
                    .designStatus {
                        padding-right: computer(15px);
                    }
                    .type-box {
                        margin-bottom: computer(10px);
                        margin-top: computer(-10px);
                        font-size: computer(14px);
                        .type-title {
                            display: inline-block;
                            color: #999999;
                            white-space: nowrap;
                            margin-top: computer(15px);
                        }
                        .type-items {
                            display: inline-block;
                            width: calc(100% - #{computer(60px)});
                            vertical-align: top;
                        }
                        .type-item {
                            display: inline-block;
                            height: computer(30px);
                            color: $color_font-center;
                            border-radius: 15px;
                            text-align: center;
                            line-height: computer(30px);
                            cursor: pointer;
                            margin-right: computer(10px);
                            padding: 0 computer(15px);
                            margin-top: computer(10px);
                            &:hover {
                                color: #226cfb;
                            }
                            &.active {
                                background-color: #226cfb;
                                color: #ffffff;
                            }
                        }
                    }
                }
            }
            .content-list {
                //width: calc(100% - #{computer(120px)});
                max-width: 100%;
                height: 100%;
                width: 100%;
            }
            .li-2 {
                //padding-left: computer(20px);
                // margin-left: computer(10px);
                // 全选
                .check-box {
                    letter-spacing: 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: computer(20px);
                    label {
                        width: auto;
                    }
                    .all-check {
                        margin: 0 computer(10px);
                    }
                    .nz-button {
                        float: right;
                        &:disabled {
                            opacity: 0.5;
                            color: #fd8158;
                            border-color: #fe997b;
                            background: #fff;
                        }
                    }
                }
                .designStatus {
                    padding-right: computer(15px);
                }
                .type-box {
                    margin-bottom: computer(10px);
                    margin-top: computer(-10px);
                    font-size: computer(14px);
                    .type-title {
                        display: inline-block;
                        color: #999999;
                        white-space: nowrap;
                        margin-top: computer(15px);
                    }
                    .type-items {
                        display: inline-block;
                        width: calc(100% - #{computer(60px)});
                        vertical-align: top;
                    }
                    .type-item {
                        display: inline-block;
                        height: computer(30px);
                        color: $color_font-center;
                        border-radius: 15px;
                        text-align: center;
                        line-height: computer(30px);
                        cursor: pointer;
                        margin-right: computer(10px);
                        padding: 0 computer(15px);
                        margin-top: computer(10px);
                        &:hover {
                            color: #226cfb;
                        }
                        &.active {
                            background-color: #226cfb;
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
    nz-footer {
        background: #fff;
        text-align: center;
        height: computer(50px);
        padding: 0;
        line-height: computer(50px);
        border-top: 1px solid $color_border;
        margin: 0 computer(20px);
        .ant-btn {
            margin-left: computer(20px);
        }
    }
    .section-list {
        padding-left: 0 !important;
    }
    // .elliptical-page{
    // 	margin-top: computer(20px);
    // }
}