node_modules
dist
coverage
.idea/
*/.tmp/
*/build/
*/dist/
target/
dist/
kanjie/
**/test/
*/**/lw-common/
webpack.config.js
package-lock.json

kanjie/Output
kanjie/FilesToInstall/lw-client
kanjie/nw.js/nwjs-sdk-v0.31.1-win-ia32/lw-client
kanjie/nw.js/nwjs-sdk-v0.31.1-win-x64/lw-client
kanjie/nw.js/nwjs-v0.31.1-win-ia32/lw-client
kanjie/nw.js/nwjs-v0.31.1-win-x64/lw-client
