@import "../../../styles/variable";
.resource-container-live {
    width: computer(505px) !important;
    li {
        width: 483px !important;
    }
    .resource-name {
        width: auto !important;
    }
}

.resource-container-video {
    width: computer(543px) !important;
    li {
        width: 521px !important;
    }
    .resource-name {
        width: auto !important;
    }
}

.resource-container {
    height: computer(372px);
    font-size: computer(14px);
    line-height: computer(40px);
    .video-resources-a {
        display: flex;
        align-items: center;
    }
    .resource-name {
        // flex: 1;
        margin-left: computer(10px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }
    .tag {
        width: computer(60px);
        text-align: center;
        height: computer(20px);
        color: #fff !important;
        line-height: computer(20px);
        font-size: computer(12px);
        display: inline-block;
        margin-left: computer(10px);
    }
    .courseware {
        width: 100%;
        height: 100%;
        overflow: auto;
        //display: flex;
        //align-items: center;
        //justify-content: center;
        //.elliptical-page-message {
        //	margin-top: 0;
        //}
    }
    .evaluate {
        box-shadow: 0px -1px 0px 0px #eeeeee;
        padding: computer(10px);
        min-height: computer(50px);
        text-align: center;
    }
    li {
        // width: computer(328px);
        padding: 0 computer(10px);
        height: computer(40px);
        width: 100%;
        img {
            width: computer(20px);
            vertical-align: middle;
        }
        &:hover {
            background-color: #eee;
        }
        a {
            .iconfont {
                position: relative;
                bottom: - computer(2px);
            }
            span {
                color: #666;
            }
        }
    }
}

:host {
    display: block;
    height: 100%;
}