<div class="prepare-page">
    <div class="prepare-page-content auto-scroll" #target>
        <div #headerScroll>
            <div class="app-adress">
                <nz-breadcrumb [nzSeparator]="'>'">
                    <nz-breadcrumb-item>
                        <a (click)="goHome()">教</a>
                    </nz-breadcrumb-item>
                    <nz-breadcrumb-item (click)="goBack()">
                        课表备课
                    </nz-breadcrumb-item>
                    <nz-breadcrumb-item>
                        备课详情
                    </nz-breadcrumb-item>
                </nz-breadcrumb>
                <div class="prepare-title">
                    {{classAllName}}
                </div>
            </div>
            <div class="prepare-content">
                <div class="header-content">
                    <div class="text-group">
                        <span class="title">课节名称<span class="span-maohao">:</span></span>
                        <input (focus)="verificationFrom.lessonTitleStatus=false" [ngClass]="{'input-error': verificationFrom.lessonTitleStatus}" *ngIf="!courseMaterial.publishStatus&&courseMaterial.enableUpdate" type="text" [(ngModel)]="courseMaterial.lessonTitle" maxlength="50"
                            class="input-class" />
                        <span *ngIf="courseMaterial.publishStatus || !courseMaterial.enableUpdate">{{courseMaterial.lessonTitle}}</span>
                    </div>
                    <div class="text-group">
                        <span class="title">课节类型<span class="span-maohao">:</span></span>
                        <nz-select *ngIf="!courseMaterial.publishStatus && courseMaterial.enableUpdate" (ngModelChange)="lessonTypeChange()" style="width: 200px;" [(ngModel)]="courseMaterial.lessonType" [nzPlaceHolder]="'请选择'" nzAllowClear>
                            <nz-option *ngFor="let option of lessonTypes" [nzLabel]="option.itemName" [nzValue]="option.itemValue"></nz-option>
                        </nz-select>
                        <span *ngIf="courseMaterial.publishStatus || !courseMaterial.enableUpdate">{{courseMaterial.lessonTypeName}}</span>
                        <span class="error" *ngIf="verificationFrom.lessonTypeStatus">必填项</span>
                    </div>
                    <div class="text-group">
                        <div flex="">
                            <div style="margin-right: 5px;" flex-box="0">
                                <span class="title">关联章节<span class="span-maohao">:</span></span>
                                <button *ngIf="!courseMaterial.publishStatus && courseMaterial.enableUpdate" nz-button [nzType]="'primary'" nzGhost (click)="selectChapter()">选择章节</button>
                                <span *ngIf="!courseMaterial.publishStatus&&courseMaterial.enableUpdate" class="check-title">已选：</span>
                            </div>
                            <span class="error" *ngIf="verificationFrom.outlineIdsStatus">必填项</span>
                            <div *ngIf="!courseMaterial.publishStatus && courseMaterial.enableUpdate" flex-box="1">
                                <div class="select-tag" *ngFor="let ot of checkOutLineList">
                                    {{ot.name}}
                                    <span (click)="removeOutline(ot)" class="icon-span">
                                                <i class="iconfont icon-label-close"></i>
                                            </span>
                                </div>
                            </div>
                            <div *ngIf="courseMaterial.publishStatus || !courseMaterial.enableUpdate" flex-box="1">
                                <div class="select-tag padding-right-20" *ngFor="let ot of checkOutLineList">
                                    {{ot.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-group">
                        <div flex="">
                            <div style="margin-right: 5px;" flex-box="0">
                                <span class="title">同步课节<span class="span-maohao">:</span></span>
                                <button *ngIf="!courseMaterial.publishStatus && courseMaterial.enableUpdate" nz-button [nzType]="'primary'" nzGhost (click)="alertTimetable()">选择节次</button>
                                <span *ngIf="!courseMaterial.publishStatus&&courseMaterial.enableUpdate" class="check-title">已同步的班级及节次：</span>
                            </div>
                            <div *ngIf="!courseMaterial.publishStatus&&courseMaterial.enableUpdate" flex-box="1">
                                <div class="select-tag" *ngFor="let ct of checkClassList;let i = index">
                                    {{ct.name}}
                                    <span (click)="removeClass(ct, i)" class="icon-span">
                                                    <i class="iconfont icon-label-close"></i>
                                                </span>
                                </div>
                            </div>
                            <div *ngIf="(courseMaterial.publishStatus||!courseMaterial.enableUpdate)&&courseMaterial.syncCourseMaterialNames!=''" flex-box="1">
                                <div class="select-tag padding-right-20" *ngFor="let ct of courseMaterial.syncCourseMaterialNames?.split(';')">
                                    {{ct}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nz-affix (nzChange)="onAffixChange($event)" [nzTarget]="target" id="affix-container-target">
                <div class="affix-container-content">
                    <div class="prepare-tabset">
                        <div (click)="changeTabSet(0)" [ngClass]="{'tabset-tab-group-active': selectTabset == 0}" class="tabset-tab-group">
                            课前
                        </div>
                        <div (click)="changeTabSet(1)" [ngClass]="{'tabset-tab-group-active': selectTabset == 1}" class="tabset-tab-group ">
                            课中
                        </div>
                        <div (click)="changeTabSet(2)" [ngClass]="{'tabset-tab-group-active': selectTabset == 2}" class="tabset-tab-group">
                            课后
                        </div>
                    </div>
                    <div class="prepare-tab">
                        <span (click)="changeTab(0)" [ngClass]="{'prepare-tab-title-active': selectTab == 0}" class="prepare-tab-title">
                            课件
                        </span>
                        <span (click)="changeTab(1)" [ngClass]="{'prepare-tab-title-active': selectTab == 1}" class="prepare-tab-title">
                            习题
                        </span>
                        <button *ngIf="selectTab == 1&&!courseMaterial.publishStatus&& courseMaterial.enableUpdate" (click)="goLibrary()" nz-button class="ant-btn-danger ant-btn">校本题库</button>
                        <span class="goLibrary-verification" *ngIf="selectTab == 1&&!courseMaterial.publishStatus&&verificationFrom.uploadListStatus">必填项</span>
                    </div>
                    <div *ngIf="selectTab == 0 && !courseMaterial.publishStatus && courseMaterial.enableUpdate" class="courseware">
                        <courseware-header [showUploadBtn]="!courseMaterial.publishStatus" [existFileNames]="materialFileNames" (onUploadSuccess)="onUploadSuccess()" [verification]="verificationFrom" [options]="options"></courseware-header>
                    </div>
                    <div *ngIf="selectTab == 1" flex="" class="exercises">
                        <div flex-box="0" class="designStatus">
                            <nz-select [ngModel]="designStatus" (ngModelChange)="checkStatus($event)" [nzSize]="'default'" [nzPlaceHolder]="'全部'" class="radius bg-gray invitation-home-select" style="width: 120px;">
                                <nz-option [nzLabel]="'已分类'" [nzValue]="1"></nz-option>
                                <nz-option [nzLabel]="'未分类'" [nzValue]="0"></nz-option>
                            </nz-select>
                        </div>
                        <div flex-box="1" class="type-box">
                            <span class="type-title">题型：</span>
                            <div class="type-items">
                                <span class="type-item" *ngFor="let type of questionTypeList" [ngClass]="{'active':type?.active}" (click)="getExerciseListByType(type)">{{type?.name}}</span>
                            </div>
                        </div>
                    </div>
                    <!--全选-->
                    <div class="check-box" *ngIf="selectTab == 1&&designStatus === 0&&!courseMaterial.publishStatus && courseMaterial.enableUpdate">
                        <div>
                            <label nz-checkbox [(ngModel)]="allChecked" [nzDisabled]="!list || list.length === 0" (ngModelChange)="checkedAllExercise($event)"></label>
                            <span class="all-check">全选</span>
                            <span class="col-blue">（已选 {{selectExerciseIds.length}} 题）</span>
                        </div>
                        <button *ngIf="!courseMaterial.publishStatus" nz-button [nzType]="'primary'" nzGhost (click)="setDesignCode()" [disabled]="selectExerciseIds.length <= 0">设置题目设计类型</button>
                    </div>
                </div>
            </nz-affix>
            <div [ngClass]="{'margin-top-100':affixStatus}" *ngIf="selectTab == 1" class="prepare-content-tab-exercises">
                <exercises-group [isShowRemove]="!courseMaterial.publishStatus && courseMaterial.enableUpdate" *ngFor="let item of list;let i=index" [index]="i" [designStatus]="designStatus" [lessonId]="lessonId" (refreshList)="refreshList()" (checkboxExecises)="checkedExercise()"
                    [date]="lessonDate" [lessonStage]="this.selectTabset" [item]="item" [list]="list"></exercises-group>
                <elliptical-page *ngIf="listLoadComplete&&courseMaterial.enableUpdate&&exerciseType===''&&designStatus === 0 && (!list || list.length === 0)" title="暂无未分类习题" imgName="no-exercises.png"></elliptical-page>
                <elliptical-page *ngIf="listLoadComplete&&courseMaterial.enableUpdate&&exerciseType===''&&designStatus === 1 && (!list || list.length === 0)" title="暂无已分类习题" imgName="no-exercises.png"></elliptical-page>
                <elliptical-page *ngIf="listLoadComplete&&courseMaterial.enableUpdate&&exerciseType &&(!list ||list.length === 0)" title="暂无对应习题" imgName="no-exercises.png"></elliptical-page>
                <elliptical-page *ngIf="listLoadComplete&&!courseMaterial.enableUpdate&&(!list ||list.length === 0)" imgName="no-exercises.png" title="该节次已上过课，无法再次备课"></elliptical-page>
            </div>
            <div [ngClass]="{'margin-top-100':affixStatus}" *ngIf="selectTab == 0" class="prepare-content-tab-courseware">
                <resource-list *ngIf="resourceList && resourceList.length>0" [resourceList]="resourceList" [showDeleteBtn]="!courseMaterial.publishStatus&&courseMaterial.enableUpdate" (downloadList)='getDownloadList($event)' (onRefreshResourceItem)="refreshCoursewareList()"
                    (showDownloadBtn)="getShowDownload($event)"></resource-list>
                <div class="no-courseware">
                    <elliptical-page *ngIf="resourceListLoadComplete&&courseMaterial.enableUpdate&&(!resourceList || resourceList.length == 0)" imgName="no-courseware.png" title="暂无课件"></elliptical-page>
                    <elliptical-page *ngIf="resourceListLoadComplete&&!courseMaterial.enableUpdate&&(!resourceList || resourceList.length == 0)" imgName="no-courseware.png" title="该节次已上过课，无法再次备课"></elliptical-page>
                </div>
            </div>
            <nz-back-top [nzVisibilityHeight]="headerScrollHeight" [nzTarget]="target">
                <ng-template #nzTemplate>
                    <div class="ant-back-top-inner">
                        <i class="iconfont icon-arrowStop"></i>
                    </div>
                </ng-template>
            </nz-back-top>
        </div>
    </div>
    <div class="footer">
        <button nz-button [nzType]="'default'" (click)="goBack()">返回</button>
        <button nz-button *ngIf="courseMaterial.enableUpdate" class="ant-btn-danger ant-btn" (click)="courseMaterialClick()">{{courseMaterial.publishStatus?'取消发布':'发布备课'}}</button>
    </div>
</div>

<ng-template #modalContent>
    <div>以下课节空间不足,资源将无法完全同步，是否继续</div>
    <div *ngIf="forceMsg!=''" class="force-class">
        <span *ngFor="let fm of forceMsg.split(';')">{{fm}}</span>
    </div>
</ng-template>