// margin

.mt20 {
    margin-top: 20px;
}

.mt70 {
    margin-top: 70px;
}
.ml10 {
    margin-left: 10px;
}
.ml20 {
    margin-left: 20px;
}

.ml40 {
    margin-left: 40px;
}
.mb20 {
    margin-bottom: 20px;
}

.mr0 {
    margin-right: 0 !important;
}
.mr5 {
    margin-right: 5px;
}
.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}