<div class="main_in">
    <!-- 搜索 -->
    <div class="search_box clearfix">
        <div>
            <div class="content_textBar">
                <input type="text" class="input_class" maxlength="50" placeholder="回车键提交查询"  ng-model="purchaseApply.condition.keywords" ng-keydown="purchaseApply.goSearch($event)">
                <span class="iconfont icon-search" ng-if="!purchaseApply.condition.keywords.length || purchaseApply.condition.keywords.length == ''"></span>
                <span class="iconfont icon-error" ng-if="purchaseApply.condition.keywords.length > 0" ng-click="purchaseApply.cleanKeywords()"></span>
            </div>
            <a href="javascript:void(0)" class="more_search" ng-click="purchaseApply.getMoreSearch('purchase')">更多条件查询 ></a>
        </div>
        <div class="search_result" ng-if="(purchaseApply.condition.applyYearStart && purchaseApply.condition.applyYearEnd)||
            (purchaseApply.condition.gardenList && purchaseApply.condition.gardenList.length>0)|| purchaseApply.condition.categoryListName ||
            purchaseApply.condition.kindName || purchaseApply.condition.stageName ||
            purchaseApply.condition.statusName || purchaseApply.condition.applyAccount ||
            (purchaseApply.condition.createTimeStart && purchaseApply.condition.createTimeEnd)||
            (purchaseApply.condition.taskTimeStart&&purchaseApply.condition.taskTimeEnd)">搜索条件：
            <span ng-if="purchaseApply.condition.applyYearStart && purchaseApply.condition.applyYearEnd">
                项目申报年份（{{purchaseApply.condition.applyYearStart}}~{{purchaseApply.condition.applyYearEnd}}）
            </span>
            <span ng-if="purchaseApply.condition.gardenList && purchaseApply.condition.gardenList.length>0">
                项目申报单位（<span ng-repeat="garden in purchaseApply.condition.gardenList">{{garden.name}}；</span>）
            </span>
            <span ng-if="purchaseApply.condition.categoryListName">项目所属类别（{{purchaseApply.condition.categoryListName}}）</span>
            <span ng-if="purchaseApply.condition.kindName">项目配标类别（{{purchaseApply.condition.kindName}}）</span>
            <span ng-if="purchaseApply.condition.stageName">项目所属阶段（{{purchaseApply.condition.stageName}}）</span>
            <span ng-if="purchaseApply.condition.statusName">项目所处状态（{{purchaseApply.condition.statusName}}）</span>
            <span ng-if="purchaseApply.condition.applyAccount">项目申报人（{{purchaseApply.condition.applyAccount}}）</span>
            <span ng-if="purchaseApply.condition.createTimeStart && purchaseApply.condition.createTimeEnd">
                项目提交时间段（{{purchaseApply.condition.createTimeStart}}~{{purchaseApply.condition.createTimeEnd}}）
            </span>
            <span ng-if="purchaseApply.condition.taskTimeStart&&purchaseApply.condition.taskTimeEnd">
                任务生成时间段（{{purchaseApply.condition.taskTimeStart}}~{{purchaseApply.condition.taskTimeEnd}}）
            </span>
            <span ng-if="purchaseApply.isShowCancel" class="iconfont icon-error" ng-click="purchaseApply.deleteCondition()"></span>
        </div>
    </div>
    <!-- 总计 -->
    <div class="totalize clearfix">
        <div class="fl">
            <span class="total_info">总计<em class="blue_color">{{purchaseApply.paginationConf.totalItems||0}}</em>条，其中等待您处理的项目<em
                    class="yellow_color">{{purchaseApply.paginationConf.waitDealCount}}</em>条，已完成<em class="brown_color">{{purchaseApply.stageName}}</em>阶段的项目<em
                    class="green_color">{{purchaseApply.paginationConf.finishCount}}</em>条。</span>
        </div>
        <div class="fr">
            <span class="btn_bd" has-permission="purchase:processConfig:create" ng-if="purchaseApply.firstStageId&&purchaseApply.stageId==purchaseApply.firstStageId&&purchaseApply.isApply" ui-sref="purchase.draft({processConfigId:purchaseApply.processConfigId,sidebarId:purchaseApply.sidebar.id||sidebar.id})">草稿箱</span>
            <span class="btn_bg" has-permission="purchase:processConfig:create" ng-if="purchaseApply.firstStageId&&purchaseApply.stageId==purchaseApply.firstStageId&&purchaseApply.isApply" ui-sref="purchase.input({processConfigId:purchaseApply.processConfigId,sidebarId:purchaseApply.sidebar.id||sidebar.id})">添加</span>
            <div class="gather_btn fl" ng-if="purchaseApply.firstStageId&&purchaseApply.isApply!==undefined&&purchaseApply.stageId==purchaseApply.firstStageId&&!purchaseApply.isApply">
                <span class="btn_bd" ui-sref="purchase.declare({processConfigId:purchaseApply.processConfigId,sidebarId:purchaseApply.sidebar.id||sidebar.id})">项目申报统计报告</span>
                <!--<span class="gather_num">99+</span>-->
            </div>
            <!--<span class="btn_bg" ng-if="!purchaseApply.isApply">批量审批</span>-->
            <span class="btn_bd btn_mgl10" ng-click="purchaseApply.exportExcel()">导出</span>
        </div>
    </div>
    <!-- 表格 -->
    <div class="line_pad" auto-width=".table_absolute" watch-change="purchaseApply.pageList">
        <div class="line_strip"></div>
        <div class="table_box">
            <table class="listTable table-hover">
                <thead id="theadTh">
                    <th width="5%" ng-class="{'thWid80':!purchaseApply.isApply}">
                        <!--<input ng-if="!purchaseApply.isApply" type="checkbox" class="checkbox_class" id="aa" ng-model="purchaseApply.checked_all"-->
                        <!--ng-change="purchaseApply.checkedAll()">-->
                        <label ng-class="{'curr':!purchaseApply.isApply}">序号</label>
                    </th>
                    <th width="8%">申报年份</th>
                    <th width="8%">项目类别</th>
                    <th width="8%">配标类别</th>
                    <th width="9%">项目名称</th>
                    <th width="8%">项目单位</th>
                    <th width="9%">校内优先级</th>
                    <th width="8%">申报人</th>
                    <th width="12%">任务生成时间</th>
                    <th width="9%">项目阶段</th>
                    <th width="8%">项目状态</th>
                    <th width="8%">任务状态</th>
                </thead>
            </table>
        </div>
    </div>
    <div class="table_absolute overflow_box">
        <div class="table_box">
            <table class="listTable table-hover">
                <tbody>
                    <tr table-width ng-repeat="data in purchaseApply.pageList track by $index" ng-click="purchaseApply.goPage(data)">
                        <td>
                            <input ng-if="!purchaseApply.isApply && data.taskStatusName==='待审批'" type="checkbox" class="checkbox_class" id="check{{data.id}}" ng-checked="purchaseApply.checkedIds.indexOf(data.id)>-1"
                                ng-click="purchaseApply.checkedOne($event,data.id)">
                            <label ng-class="{'curr':!purchaseApply.isApply}" for="check{{data.id}}">{{$index+1}}</label>
                        </td>
                        <td>{{data.applyYear}}</td>
                        <td>{{data.categoryName}}</td>
                        <td>{{data.kindName||'未配置'}}</td>
                        <td>{{data.projectName}}</td>
                        <td>{{data.projectGarden}}</td>
                        <td>{{data.priorityName}}</td>
                        <td>{{data.applyAccount}}</td>
                        <td>{{data.taskTime | date:'yyyy-MM-dd HH:mm'}}</td>
                        <!--项目阶段-->
                        <td>{{data.currTaskStageName}}</td>
                        <!--项目状态-->
                        <td>
                            <span ng-class="{'yellow_color':data.projectStatus === 2&&data.taskStatus=== 1,
                                            'green_color':data.projectStatus===0&&data.taskStatus===0,
                                            'col999':data.projectStatus === 1 && data.taskStatus=== 1}">
                                {{data.projectStatusName }}
                            </span>
                        </td>
                        <!--任务状态-->
                        <td>
                            <span class="green_color" ng-if="data.projectStatus===0&&data.taskStatus===0">
                                {{ data.taskStatusName }}({{data.taskCount}}<sup class="hour">th</sup>)
                            </span>
                            <span class="yellow_color" ng-if="data.projectStatus===2&&data.taskStatus===1">
                                {{ data.taskStatusName }}
                            </span>
                            <span ng-if="data.projectStatus===0&&data.taskStatus===1">
                                {{ data.taskStatusName }}
                            </span>
                            <span class="col999" ng-if="data.projectStatus===1&&data.taskStatus===1">
                                {{ data.taskStatusName }}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- 分页 -->
        <pagination conf="purchaseApply.paginationConf" ng-show="purchaseApply.pageList.length>0"></pagination>

        <!-- 暂无数据、暂无搜索结果-->
        <div class="nodata_box" ng-show="purchaseApply.pageList.length == 0">
            <div class="nodata" ng-show="!purchaseApply.showSearch">
                <span></span>
                <p>暂无数据</p>
            </div>
            <div class="nodata_search" ng-show="purchaseApply.showSearch">
                <span></span>
                <p>搜索无结果</p>
            </div>
        </div>
    </div>
    <instructions module-code="purchase"></instructions>
</div>
