<div class="evaluate">
	<!--<button *ngIf="isUnicast" class="left-btn" (click)="goStatistics()" nz-button [nzType]="'danger'">-->
		<!--<span>统计详情</span>-->
	<!--</button>-->
	<!--<button *ngIf="!isSelf&&isValidate" (click)="alertEvaluationDialog()" nz-button [nzType]="'danger'">-->
		<!--<span>教学评价</span>-->
	<!--</button>-->
	<button *ngIf="isSelf&&isUnicast" (click)="showRelection()" nz-button [nzType]="'danger'">
		<span>教学反思</span>
	</button>
</div>

<ng-template #tplFooter>
	<div class="ant-modal-title">{{modalTitle}}</div>
	<button (click)="evaluationCancel()" class="ant-modal-close">
		<span class="ant-modal-close-x"></span>
	</button>
</ng-template>