<!-- <div id="video_{{playerId}}" style="width: 100%;height: 100%"></div> -->
<div style="width:100%;height:100%; text-align:center;">
    <div id="video" style="    position: relative;">
        <div class="video-wrapper-container">
            <div class="playerPop">
                <div class="inset">
                    <div class="playerbody" id="player_body">  
                           <!--  <div style="width:100%;height:100px;text-align:center;color:white;" id="btn_fullscreen">
                                    测试双击全屏
                                <button id="btn_test">测试按钮</button>
                            </div> -->
                        <!-- <div id="video-container" class="big-screen-nofit" style="overflow:hidden; margin:0 auto;"> -->
                        <div id="video-container"  style="overflow:hidden; margin:0 auto;width: 100%;height: 100%;background-color: black;">
                           
                    </div>
    
                        <div class="player-control">
                            <div class="play-btn ">
                                <div class="play-btn-wrapper">
                                    <div class="btn-wrapper btn-wrapper-start">
                                        <img id="play-start" class="play-start" src="/assets/images/pause.png">
                                        <img id="play-start-hover" class="play-start-hover" src="/assets/images/pause_hover.png">
                                    </div>
                                    <div class="btn-wrapper btn-wrapper-stop">
                                        <img class="play-stop" src="/assets/images/stop.png">
                                        <img class="play-stop-hover" src="/assets/images/stop_hover.png">
                                    </div>
                                </div>
                            </div>
                            <div class="play-process">
                                <div class="play-process-all"></div>
                                <div class="play-process-drag"></div>
                                <div class="play-process-before"></div>
                                <div class="play-process-btn" src="/assets/images/process.png"></div>
                            </div>
                            <div class="play-msg ">
                                <span class="play-time"><span class="play-current-time">00:00</span><span id="separator">l</span>
                                    <span class="play-all-time"></span>
                                </span>
                                <span class="play-sound">
                            <div class="play-sound-switch">
                                <img id="sound-switch" class="play-sound-on" src="/assets/images/sound_on.png">
                                <img id="sound-switch-hover" class="play-sound-on-hover" src="assets/images/sound_on_hover.png">
                            </div>
                            <div class="play-sound-wrapper">
                                <div class="play-sound-all"></div>
                                <div class="play-sound-drag"></div>
                                <div class="play-sound-btn"></div>
                            </div>
                            </span>
                                <span class="play-screen">
                                    <img id="screen-full-swtich" class="play-screen-not-full" src="assets/images/screen_on.png">
                                    <img id="screen-full-swtich-hover"  class="play-screen-not-full-hover" src="/assets/images/screen_on_hover.png">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="start-wrapper-btn"></div>
            </div>
        </div>
    
    </div>
    </div>