.base-info{
    width: 100%;
    padding-top: 20px;
    li{
        display: flex;
        margin-bottom: 25px;
    }
    .info-left, .info-right{
        display: inline-block;
    }
    .info-left{
        width: 26%;
        text-align: right;
    }
    .info-right{
        flex: 1;
        text-align: left;
    }
}