<ul class="base-info">
  <li>
    <div class="info-left">
      数据年份：
    </div>
    <div class="info-right">
      2017
    </div>
  </li>
  <li>
    <div class="info-left">
      园区名称：
    </div>
    <div class="info-right">
      2017
    </div>
  </li>
  <li>
    <div class="info-left">
      园区简称：
    </div>
    <div class="info-right">
      2017
    </div>
  </li>
  <li>
    <div class="info-left">
      详细地址：
    </div>
    <div class="info-right">
      2017
    </div>
  </li>
  <li>
    <div class="info-left">
      园区介绍：
    </div>
    <div class="info-right">
      2017
    </div>
  </li>
  <li>
    <div class="info-left">
      园区类型：
    </div>
    <div class="info-right">
      2017
    </div>
  </li>
  <li>
    <div class="info-left">
      园区规划编号：
    </div>
    <div class="info-right">
      2017
    </div>
  </li>
  <li>
    <div class="info-left">
      园区规划意向：
    </div>
    <div class="info-right">
      2017
    </div>
  </li>
</ul>
