<p class="title">
    审批流程作用对象冲突提示
    <span class="iconfont icon-close" ng-click="closeThisDialog()"></span>
</p>
<p class="info">
    说明 : 下面红色部分表示新项目与旧项目的冲突对象
</p>
<div class="confilt_contnet overflow_box">
    <table>
        <tr>
            <th>记录状态</th>
            <th>名称</th>
            <th>作用对象</th>
        </tr>
        <tr ng-if="firstName" class="first">
            <td>本次新加项</td>
            <td>{{firstName}}</td>
            <td>
                <span ng-repeat="garden in confilt_gardens" ng-class="garden.isConfilct ? 'red':''">{{garden.name? garden.name : garden.gardenName}};</span>
            </td>
        </tr>
        <tr ng-repeat="data in confiltData">
            <td>系统原有项</td>
            <td>{{data.name}}</td>
            <td>
                <span ng-repeat="garden in data.gardenList" ng-class="garden.isConfilct ? 'red':''">{{garden.name}};</span>
            </td>
        </tr>
    </table>
</div>
<div class="btn_box">
    <span class="btn_bd" ng-click="saveNew(true)">采用新的</span>
    <span class="btn_bg" ng-click="saveNew(false)">保留旧的</span>
</div>