@import "../../../styles/variable";

.progress-bar {
    width: computer(260px);
    height: 10px;
    position: relative;
    background: $color_border;
    margin: 0 computer(8px) 0 0;
    border-radius: computer(5px);
    overflow: hidden;
    .percent {
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(90deg, #febb5c 0%, #ff7d55 100%), linear-gradient(#34383f, #34383f);
        width: 0;
        height: 10px;
        border-radius: computer(5px);
    }
}
