<div class="video-list">
	<ul class="video-list-ul" flex>
		<li class="video-list-li" flex="dir:top cross:center">
			<div class="image">
				<img src="./assets/images/image_list_pic.png" alt="">
			</div>
			<div class="content" flex="main:justify cross:center">
				<p class="title">牛栏山一中实验学校音乐组</p>
			</div>
		</li>
		<li class="video-list-li" flex="dir:top cross:center">
			<div class="image">
				<img src="./assets/images/image_list_pic.png" alt="">
			</div>
			<div class="content" flex="main:justify cross:center">
				<p class="title">牛栏山一中实验学校音乐组</p>
			</div>
		</li>
		<li class="video-list-li" flex="dir:top cross:center">
			<div class="image">
				<img src="./assets/images/image_list_pic.png" alt="">
			</div>
			<div class="content" flex="main:justify cross:center">
				<p class="title">牛栏山一中实验学校音乐组</p>
			</div>
		</li>
	</ul>
</div>