<div class="analysis-list">
    <div class="app-adress">
		<nz-breadcrumb [nzSeparator]="'>'" >
			<nz-breadcrumb-item>
				<a (click)="goHome()">析</a>
			</nz-breadcrumb-item>
			<nz-breadcrumb-item>
				备课资源列表
			</nz-breadcrumb-item>
		</nz-breadcrumb>
    </div>
    <div class="analysis-title-group">
        <span class="title" [ngSwitch]="endDate&&startDate">
			<span class="title-date" *ngSwitchCase="beforeDate&&beforeDate">昨日</span>
			<span class="title-date" *ngSwitchCase="nowDate&&nowDate">今日</span>
			<span class="title-date" *ngSwitchDefault>
				{{startDate===endDate? startDate.replace('-','/'): startDate.replace('-','/')+'~'+endDate.replace('-','/')}}
			</span>
			在线备课资源包列表
		</span>
        <div class="date-group">
			<div class="date-picker-box">
				<input id="time" type="text" title="" class="date-picker" placeholder="开始时间 ~ 结束时间" datePicker
					   [range]="'~'" [dateFormat]="'yyyy-MM-dd'" [dateValue]="dateRange"
					   (dateValueChange)="changeDate($event)">
			</div>
        </div>
    </div>
    <div class="analysis-content-group" flex="dir:top box:justify">
        <div  class="analysis-fitter">
            <select-group titles="按年级" *ngIf="gradeList && gradeList.length>0" [model]="selectData.gradeId" [data]="gradeList" (selectEvent)="selectedGrade($event)"></select-group>
            <select-group titles="按学科" *ngIf="subjectList && subjectList.length>0" [model]="selectData.subjectCode" [data]="subjectList" (selectEvent)="selectedSubject($event)"></select-group>
            <select-group titles="按老师" *ngIf="teacherList && teacherList.length>0" [model]="selectData.teacherId" [data]="teacherList" (selectEvent)="selectedTeacher($event)"></select-group>
            <div class="message-group" flex="main:justify">
                <div class="messages">共计<span class="total">{{rank.total}}</span>节的备课资源包</div>
                <div (click)="sortByChange()" class="messages sortBy">
                    按发布时间{{sortBy=='ASC'?'正序':'倒序'}}<i class="iconfont" [ngClass]="{'icon-the_order':sortBy=='ASC','icon-flashback':sortBy=='DESC'}"></i>
                </div>
            </div>
        </div>
        <div  class="analysis-content auto-scroll">
            <!-- <div style="height:10000px;"></div> -->
            <div class="video-box" table-center *ngIf="rank.list.length>0" >
                <div class="inl-bl-mid video-item permission" *ngFor="let item of rank.list;let i = index"
                     (click)="goDetail(item)">
                     <div class="video-item-content">
                        <div class="img-box">
                            <img src="{{item.subjectCode | courseImg}} " alt="">
                            <div class="img-box-title">
                                <div title="{{item.lessonTitle?item.lessonTitle:'未配置课节名称'}}">
                                    {{item.lessonTitle?item.lessonTitle:'未配置课节名称'}}
                                </div>
                            </div>
                        </div>
                        <p class="teacher-name" flex="">
                            <span flex-box="0" title="{{item.teacherName}}-{{item.subjectName}}" class="teacher-name-message">{{item.teacherName}}-{{item.subjectName}}</span>
                            <span *ngIf="!(item.lessonName==null||item.lessonName=='')" title="《{{item.subjectName}}》" class="teacher-class-message" flex-box="1">
                                <span>《</span>
                                <span class="class-message">{{item.lessonName}}</span>
                                <span>》</span>
                            </span>
                        </p>
                        <p class="class-name" flex="main:justify cross:center">
                            <span>{{item.gradeName}}{{item.className}}  周{{item.giveLessonDate|dateToWeek}}第{{item.period}}节</span>
                            <span>{{item.giveLessonDate|date:'yyyy/MM/dd'}}</span>
                        </p>
                        <div class="analysis-type-div">
                            <span class="analysis-type-span"></span>
                            <span class="analysis-type-text">备课资源</span>
                        </div>
                     </div>
                </div>
                <p *ngIf="rank.total>20" class="click-show-more"
                [ngClass]="{'pointer':rank.total > rank.page.size}"
                (click)="changeList($event, rank)">
                {{rank.total >
                    rank.page.size?'点击加载更多':'已加载全部'}}</p>
            </div>

            <elliptical-page *ngIf="rank.list.length === 0 && rank.loaded" [title]="ellipticalTitle"
                                        [imgName]="ellipticalImg"></elliptical-page>
            <!-- <div flex="main:center cross:center" style="height: 100%" *ngIf="!rank.loaded">
                <nz-spin [nzSize]="'large'"></nz-spin>
            </div> -->
        </div>
        <div class="footer">
                <button (click)="goHome()"  tabindex='-1' class="close" [nzType]="'default'" nz-button
                            [nzType]="'danger'">
                    <span>返回</span>
                </button>
        </div>
    </div>

</div>