 <footer>
	<section class="top">
		<div class="top-left">
			<p>友情链接：</p>
			<nav>
				<ul>
					<li>
							<a href="http://www.moe.edu.cn/" target="_blank">中国教育部网站</a>
					</li>
					<li>
						<a href="http://jw.beijing.gov.cn/" target="_blank">北京市教委网站</a>
					</li>
					<li>
						<a href="http://syxx.nlsyz.com.cn/" target="_blank">北京市牛栏山一中实验学校</a>
					</li>
					<li>
						<a href="http://www.eol.cn/" target="_blank">中国教育在线</a>
					</li>
					<li>
						<a href="http://www.626china.org/" target="_blank">中国禁毒展览馆</a>
					</li>
					<li>
						<a href="http://www.shyedu.cn/" target="_blank">顺义教育信息网</a>
					</li>
					<li>
						<a href="http://www.shyedu.gov.cn/page/index.html" target="_blank">顺义教育委员会</a>
					</li>
					<li>
						<a href="http://www.shyxue.com/index.do" target="_blank">顺义学习网</a>
					</li>
					<li>
						<a href="http://nysx.nlsyz.com.cn:82/login" target="_blank">网站后台管理</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="top-right">
			<div class="address">
				<p>地址：北京市顺义区裕龙二街1号</p>
				<p>电话：010-89466450</p>
				<p>邮编：101300</p>
				<p>邮箱：nysyxx_public@163.com</p>
			</div>
			<div class="qrcode">
				<img src="assets/images/qrcode.png" alt="牛小官方公众号">
				<p>牛小官方公众号</p>
			</div>
		</div>
	</section>
	<section class="bottom">
		<p>牛栏山一中实验小学 版权所有 京ICP备18012359号-1</p>
		<p>技术支持：北京来为科技股份有限公司</p>
		<p>支持电话：010-62458699</p>
	</section>
</footer>