.body {
	.ant-table-thead > tr > th {
		font-size: 16px;
	}
}

.pagination {
	margin-top: px2rem(70px);
	text-align: center;
}

.ant-pagination {
	.ant-pagination-item-active {
		background: #7552f8;
		border: 1px solid #7552f8;
	}
	.ant-pagination-item.ant-pagination-item-active:focus a, .ant-pagination-item.ant-pagination-item-active:hover a {
		color: #fff;
	}
	.ant-pagination-item-active a {
		color: #fff;
	}
	.ant-pagination-item:focus, .ant-pagination-item:hover {
		transition: all .3s;
		border-color: #7552f8;
		a {
			color: #7552f8;
		}
	}
	.ant-pagination-prev:focus .ant-pagination-item-link, .ant-pagination-next:focus .ant-pagination-item-link, .ant-pagination-prev:hover .ant-pagination-item-link, .ant-pagination-next:hover .ant-pagination-item-link {
		border-color: #7552f8;
		color: #7552f8;
	}
}
