<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DSharpPlus" version="3.2.3" targetFramework="net452" />
  <package id="DSharpPlus.WebSocket.WebSocketSharp" version="3.2.3" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.11.1" targetFramework="net452" />
  <package id="HtmlAgilityPack.CssSelectors" version="1.0.2" targetFramework="net452" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net452" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net452" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net452" />
  <package id="Nito.AsyncEx" version="4.0.1" targetFramework="net452" />
  <package id="Polly.Net40Async" version="5.9.0" targetFramework="net452" />
  <package id="RabbitMQ.Client" version="5.1.0" targetFramework="net452" />
  <package id="WebSocketSharp-NonPreRelease" version="1.0.0" targetFramework="net452" />
</packages>