<div id="container">
	<ul class="wrap">
		<li class="box">
			<em class="serialNumber">1</em>
			<div class="pic">
				<div class="tooltip registrationExpired" *ngIf="tooltip.txt">{{tooltip.txt}}</div>
				<h5 class="title">
					教学管理系统注册-文本
				</h5>
				<div class="txt">
					少年宫报名系统注册地址为：www.shysngbggl.com 您也可以从少年宫官网报名入口或少年宫微信公众号进入
					一. 所有参加少年宫兴趣小组培训活动的学员均需注册。
					二. 注册账号为学员本人居民身份证号码（身份证末位X大写），家长要正确填写孩子的身份证号码、姓名家...
				</div>
				<div class="des">
					<p class="author">作者：培训部</p>
					<p class="timer">报名时间:2018-5-30至2018-6-1</p>
				</div>
			</div>
		</li>
		<li class="box">
			<em class="serialNumber">2</em>
			<div class="pic">
				<div class="tooltip registrationExpired" *ngIf="tooltip.txt">{{tooltip.txt}}</div>
				<h5 class="title">
					教学管理系统注册-文本
				</h5>
				<img src="assets/images/banner2.jpg" alt="教学管理系统注册-文本">
			</div>
		</li>
		<li class="box">
			<em class="serialNumber">3</em>
			<div class="pic">
				<div class="tooltip registrationExpired" *ngIf="tooltip.txt">{{tooltip.txt}}</div>
				<h5 class="title">
					教学管理系统注册-文本
				</h5>
				<div class="txt">
					少年宫报名系统注册地址为：www.shysngbggl.com 您也可以从少年宫官网报名入口或少年宫微信公众号进入
					一. 所有参加少年宫兴趣小组培训活动的学员均需注册。
					二. 注册账号为学员本人居民身份证号码（身份证末位X大写），家长要正确填写孩子的身份证号码、姓名家...
				</div>
				<div class="des">
					<p class="author">作者：培训部</p>
					<p class="timer">报名时间:2018-5-30至2018-6-1</p>
				</div>
			</div>
		</li>
		<li class="box">
			<em class="serialNumber">4</em>
			<div class="pic">
				<div class="tooltip registrationExpired" *ngIf="tooltip.txt">{{tooltip.txt}}</div>
				<h5 class="title">
					教学管理系统注册-文本
				</h5>
				<div class="txt">
					少年宫报名系统注册地址为：www.shysngbggl.com 您也可以从少年宫官网报名入口或少年宫微信公众号进入
					一. 所有参加少年宫兴趣小组培训活动的学员均需注册。
					二. 注册账号为学员本人居民身份证号码（身份证末位X大写），家长要正确填写孩子的身份证号码、姓名家...
				</div>
				<div class="des">
					<p class="author">作者：培训部</p>
					<p class="timer">报名时间:2018-5-30至2018-6-1</p>
				</div>
			</div>
		</li>
		<li class="box">
			<em class="serialNumber">5</em>
			<div class="pic">
				<div class="tooltip registrationExpired" *ngIf="tooltip.txt">{{tooltip.txt}}</div>
				<h5 class="title">
					教学管理系统注册-文本
				</h5>
				<div class="txt">
					少年宫报名系统注册地址为：www.shysngbggl.com 您也可以从少年宫官网报名入口或少年宫微信公众号进入
					一. 所有参加少年宫兴趣小组培训活动的学员均需注册。
					二. 注册账号为学员本人居民身份证号码（身份证末位X大写），家长要正确填写孩子的身份证号码、姓名家...
				</div>
				<div class="des">
					<p class="author">作者：培训部</p>
					<p class="timer">报名时间:2018-5-30至2018-6-1</p>
				</div>
			</div>
		</li>
		<li class="box">
			<em class="serialNumber">6</em>
			<div class="pic">
				<div class="tooltip registrationOver" *ngIf="tooltip.txt">{{tooltip.txt}}</div>
				<h5 class="title">
					教学管理系统注册-文本
				</h5>
				<div class="txt">
					少年宫报名系统注册地址为：www.shysngbggl.com 您也可以从少年宫官网报名入口或少年宫微信公众号进入
					一. 所有参加少年宫兴趣小组培训活动的学员均需注册。
					二. 注册账号为学员本人居民身份证号码（身份证末位X大写），家长要正确填写孩子的身份证号码、姓名家...
				</div>
				<div class="des">
					<p class="author">作者：培训部</p>
					<p class="timer">报名时间:2018-5-30至2018-6-1</p>
				</div>
			</div>
		</li>
		<li class="box">
			<em class="serialNumber">7</em>
			<div class="pic">
				<div class="tooltip registrationOver" *ngIf="tooltip.txt">{{tooltip.txt}}</div>
				<h5 class="title">
					教学管理系统注册-文本
				</h5>
				<div class="txt">
					少年宫报名系统注册地址为：www.shysngbggl.com 您也可以从少年宫官网报名入口或少年宫微信公众号进入
					一. 所有参加少年宫兴趣小组培训活动的学员均需注册。
					二. 注册账号为学员本人居民身份证号码（身份证末位X大写），家长要正确填写孩子的身份证号码、姓名、家...
				</div>
				<div class="des">
					<p class="author">作者：培训部</p>
					<p class="timer">报名时间:2018-5-30至2018-6-1</p>
				</div>
			</div>
		</li>
		<li class="box">
			<em class="serialNumber">8</em>
			<div class="pic">
				<div class="tooltip registrationExpired" *ngIf="tooltip.txt">{{tooltip.txt}}</div>
				<h5 class="title">
					教学管理系统注册-文本
				</h5>
				<div class="txt">
					少年宫报名系统注册地址为：www.shysngbggl.com 您也可以从少年宫官网报名入口或少年宫微信公众号进入
					一. 所有参加少年宫兴趣小组培训活动的学员均需注册。
					二. 注册账号为学员本人居民身份证号码（身份证末位X大写），家长要正确填写孩子的身份证号码、姓名家...
				</div>
				<div class="des">
					<p class="author">作者：培训部</p>
					<p class="timer">报名时间:2018-5-30至2018-6-1</p>
				</div>
			</div>
		</li>
	</ul>
</div>