<div class="mng-edit">
  <p class="bread_nav">
    <a href="javascript:void(0);">首页 &gt;</a>
    <a href="javascript:void(0);">数据管理 &gt;</a>
    <span class="current">编辑</span>
  </p>
  <div class="edit-detail">
    <p class='edit-title'>编辑园区及基本信息</p>
    <base-info></base-info>
    <app-map></app-map> 
     <ul class="other-info">
       <li class="info-item">
         <div class='item-left'>
            名称名称：
         </div>
         <textarea class='item-content' cols="30" rows="10" placeholder="100个字符以内，非必填"></textarea>
       </li>
       <li class="info-item">
          <div class='item-left'>
             名称名称：
          </div>
          <textarea class='item-content' cols="30" rows="10" placeholder="100个字符以内，非必填"></textarea>
        </li>
        <li class="info-item">
            <div class='item-left'>
               名称名称：
            </div>
            <textarea class='item-content' cols="30" rows="10" placeholder="100个字符以内，非必填"></textarea>
          </li>
     </ul>
  </div>
      <div class="btn_box">
          <span class="btn_bd" routerLink=''>取消</span>
          <span class="btn_bg">确定</span>
      </div>
</div>

