.normal-container .row .pull-right{margin-top:15px;}
.normal-container .row .pull-right a.btn{padding: 5px 46px;font-size: 14px;font-weight: bold;}
.normal-container .row .pull-right a.font-color{font-size: 15px;text-align: center;display: block;margin-top:5px;}
.normal-container .row.fu{padding:0 5%;position: relative;}
.normal-select{position: absolute;top:20px;left: 0;}
.normal-container .win-tab{width: 45%;border:1px solid #e3e3e3;display: inline-block;margin:80px 2% 20px 2%;border-radius: 4px;overflow: hidden}
.normal-container .win-tab .win-title{font-weight: bold;font-size: 16px;line-height: 45px;background: #F6F6F6;padding: 0 20px;border-bottom: 1px solid #e3e3e3}
.normal-container .win-tab .win-content{padding: 10px;height: 452px;overflow: auto;}
.normal-container .win-tab .win-content ul.assign{padding: 3px 15px;}
.normal-container .win-tab .win-content ul.assign li{padding: 6px 10px;cursor:default;position: relative}
.normal-container .win-tab .win-content ul.assign li i{
    position: absolute !important;
    right:0;
    top:0 !important;
}
.normal-container .win-tab .win-content ul.assign li i.glyphicon{float: right;top:5px;cursor: pointer}
.normal-container .win-tab .win-content ul.assign li:hover{background: #f6f6f6;color:#00ba8b;}
.normal-container .win-tab .win-title .btn{margin-top: 8px;}
.normal-container .btn-disable {opacity: 0.5;}
.normal-container .btn-disable:active,.normal-container .btn-disable:focus{
    outline: none;
    border-color: #00ba8b;
    /*border-radius: 5px;*/
}
.normal-container .btn-disable:hover {border: 1px solid #00ba8b;color: #00ba8b;  background: #fff;}
.normal-container .normal-checkbox {
    display: inline-block;
    line-height: 100%;
}
.normal-container .normal-checkbox .normal-sel{
    font-size: 15px;
    margin-left: 5px;
    display: inline-block;
    font-weight: 400;
}
.normal-container .normal-checkbox input[type=radio]{
    width: 20px;
    height: 20px;
    cursor: pointer;
    -webkit-appearance: none;
    filter: alpha(opacity=50);
    background: url(../images/off-checkbox.png) no-repeat;
    margin-left: 8px;
    margin-top: 0;
    float: left;
}
.normal-container .normal-checkbox input[type=radio]:checked{
    background: url(../images/on-checkbox.png) no-repeat;
}
