.normalmanageTreediv .ztree  li span.button.chk { width:16px;height:16px;-webkit-appearance: none;  vertical-align: text-top;margin: 0 6px 0 0;cursor: pointer; box-sizing: border-box;overflow: hidden;background: url("../images/off-select.png");background-size: contain;background-repeat:no-repeat;}
.normalmanageTreediv .ztree  li span.button.chk.checkbox_false_full_focus{background-position: 0 0;}
.normalmanageTreediv .ztree  li span.button.chk.checkbox_true_part {background-image: url(../images/has-select.png);background-size: contain;background-repeat:no-repeat;width: 16px;height: 16px;}
.normalmanageTreediv .ztree  li span.button.chk.checkbox_true_full {  background-image: url(../images/on-select.png);background-size: contain;background-repeat:no-repeat;background-position:0 0;width: 16px;height: 16px;}
.normalmanageTreediv .ztree  li span.button.chk.checkbox_true_full{}
.normalmanageTreediv .ztree  li span.button.chk.checkbox_true_full_focus {background-image: url(../images/on-select.png);background-size: contain;background-repeat:no-repeat;background-position:0 0;width: 16px;height: 16px;}
.normalmanageTreediv .ztree  li span.button.chk.checkbox_false_disable{background-image: url(../images/check-disable.png);background-size: contain;background-repeat:no-repeat;background-position:0 0;width: 16px;height: 16px;}

.normalmanageTreediv .ztree li a.curSelectedNode {
    padding-top: 0px;
    color: black;
    height: 21px;
    background: none;
    opacity: 0.8;
}
.normalmanageTreediv .ztree .normal-tree-disable .node_name{opacity: 0.5;}
.normalmanageTreediv .ztree .normal-tree-disable .node_name:hover{cursor: default;background: none;}
.normalmanageTreediv .ztree .normal-tree-disable .checkbox_false_disable:hover,.normalmanageTreediv .ztree .normal-tree-disable a:hover,.normalmanageTreediv .ztree .normal-tree-disable span:hover,.normalmanageTreediv .ztree .normal-tree-disable:hover{
    cursor: default;
}
.normalmanageTreediv .ztree .node_name{padding: 3px 5px;}
.normalmanageTreediv .ztree .node_name:hover {background-color: #e5e5e5; }
.normalmanageTreediv .garden-content-left::-webkit-scrollbar-track {border-radius: 2px;background-color: #ffffff;}
.normalmanageTreediv .garden-content-left::-webkit-scrollbar {width: 8px;height: 8px;background-color: #ffffff;}
.normalmanageTreediv .garden-content-left::-webkit-scrollbar-thumb {border-radius: 2px;background-color: rgba(0, 0, 0, 0.2);}
.normalmanageTreediv .ztree  li span.button.switch {
    font-family: "iconfont" !important;
    font-size: 12px;  font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 5px;  }
.normalmanageTreediv .ztree  li span.button.noline_close:before {  content: "\e822";  }
.normalmanageTreediv .ztree  li span.button.noline_open:before {  content: "\e821";  }
.normalmanageTreediv .ztree  li a:hover{text-decoration: none}
/*.normalmanageTreediv .ztree  li{line-height: 30px}*/