@import "../../../../../styles/variable";
.header-wrapper {
    line-height: 1;
    margin: computer(20px) 0;
    ul,
    li {
        list-style: none;
    }
    li {
        display: inline-block;
        margin-right: computer(40px);
        color: #666;
        font-size: computer(14px);
        cursor: pointer;
    }
    li.active {
        color: #226cfb;
        cursor: default;
    }
}

:host {
    display: block;
    overflow: hidden;
    height: 100%;
}

.chart-scroll-box {
    overflow: auto;
    height: calc(100% - #{computer(100px)});
    width: 100%;
}

.show-comment {
    word-break: break-word;
}