<div class="image-container">
	<div class="summary" *ngIf="contentText">
		摘要：{{contentText}}
	</div>
	<div class="wrapper" style="margin-top:20px;">
		<div class="connected-carousels">
			<div class="stage">
				<div id="output"></div>
				<div class="carousel carousel-stage">
					<video id="videoPlay1" width="100%" height="100%" src="{{apiUrl}}{{videoUrl}}" controls (click)="videoPlay($event);">
                        您的浏览器暂不支持播放该视频，请升级至最新版浏览器。
					</video>
					<span id="videoPlay"  (click)="videoPlay($event);"></span>
					
					<!-- src="../../../assets/images/play.png" -->
				</div>
				<div class="count">
					<span class="curNum">{{selectIndex+1}}</span>
					/
					<span class="curNum">{{videoLen}}</span>
				</div>
			</div>
			<div class="slider js_variablewidth variablewidth" style="margin:20px auto;">
				<div class="frame js_frame" id="js_frame">
					<ul class="slides js_slides" id="js_slides">
						<li class="js_slide" *ngFor="let item of videoList;let i=index;" (click)="onImgClicked(item,i)" [ngClass]="{'activeLi' : selectIndex==i}">
							<img src="{{apiUrl}}{{item.videoCover}}" alt="{{item.title}}" class="img-item" />
							<p class="stage-con">
								{{item.title}}
							</p>
						</li>
					</ul>
				</div>
				<span class="js_prev prev">
					<a class="iconfont icon-arrow-left prev prev-navigation" [ngClass]="{'cursor_no': selectIndex == 0}" (click)="leftMove($event)"></a>
				</span>
				<span class="js_next next">
					<a class="iconfont icon-arrow-right next next-navigation" (click)="rightMove($event)" [ngClass]="{'cursor_no': selectIndex == (videoList.length - 1)}"></a>
				</span>
			</div>
		</div>
	</div>
	<div class="detail-description">
		<h4 style="font-size: 20px;text-align: left;margin-top:37px;color: #333333;">{{videoTile}}</h4>
		<div class="detail-description-con">
			<p style="font-size: 16px;text-align: left;color: #333333;">{{videoDes}}</p>
		</div>
	</div>
</div>