@import "../../assets/scss/index.scss";

.note-list {
  -webkit-app-region: no-drag;
  position: absolute;
  left: 0;
  z-index: 9;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: 100%;

  .note-result {
    background: url("../../assets/images/bg.png");
    background-size: 100% 100%;
    height: 100%;
    font-size: 16px;
    color: #333333;

    .ant-layout {
      background: none;
      height: 100%;
    }

    .ant-layout-content {
      margin: computer(20px) computer(221px);
      height: 100%;
    }

    .student-list {
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start;
      height: 92%;

      .inner-box {
        background-color: #ffffff;
        width: 48%;
        height: 100%;
        overflow: hidden;
        display: flex;

        .bg {
          background: url("../../assets/images/bibian.png");
          background-size: computer(49px);
          width: computer(49px);
          height: 100%;
        }

        .content {
          width: calc(100% - #{computer(49px)});

          .name {
            width: computer(100px);
            height: computer(40px);
            line-height: computer(40px);
            text-align: center;
            @include line-ell(79px);
            color: #ff7d55;
            background-color: #ffffff;
            box-shadow: 0px 2px 8px 0px rgba(61, 55, 64, 0.2);
            position: absolute;
            top: computer(10px);
          }

          .content-text {
            margin-top: computer(49px);
            padding: 0 computer(18px) computer(10px) 0;
            overflow: hidden;

            .note-box {
              width: 100%;
              overflow: hidden;

              // .lw-note-draw {

              //   canvas {
              //     border: 1px solid #000;
              //   }
              // }

            }
            .inner-control{
              height: 40px;
              line-height: 40px;
              text-align: right;
              i{
                color: #ff7d55;
                cursor: pointer;
                margin-left: 10px;
              }
            }
          }
        }
      }

      .inner-box:last-child {
        margin-left: 4%;
      }
    }


    .ant-layout-footer {
      padding: 0;
      width: 100%;
      position: fixed;
      bottom: 0;
    }

    .footer {
      width: 100%;
      background: #3b5253;
      height: computer(67px);
      color: #ff7d55;
      line-height: computer(67px);

      .titleBtn {
        position: absolute;
        left: 19px;

      }

      .bottom-ul {
        li {
          cursor: pointer;
        }

        i {
          margin-right: 6px;
        }

        .disabled {
          opacity: 0.5;
          cursor: default;
        }
      }

      .marg-r-35px {
        margin-right: computer(35px);
      }

      .footer-right {
        position: absolute;
        right: 40px;

        .close {
          background: none !important;
        }
      }
    }
  }
}
